[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "/Users/tylerflint/Sites/chromada/vendor/plugins/mother"]
	path = /Users/tylerflint/Sites/chromada/vendor/plugins/mother
	url = git@github.com:tylerflint/mother.git
