	
<%= link_to '', root_url, :class => 'admin-sprite logo' %>

<div class='wrapper'>
	<p class='message welcome'>Welcome to the admin panel. <a href='<%= destroy_user_session_url %>' class='float-none'>Logout</a></p>
	<a href='#link'>Enable Help</a>
</div>

<div class='solid-rule'></div>
