<% p.collection.each do |item| %>
	<li><a href='<%= p.item_url(@company, item) %>' title="Edit"><span class='' title=''></span><%= item.name %><span class='removable arrow'></span></a></li>
<% end %>
<% if (p.collection.count > 10 && !p.show_all?) %>
	<li><a href='#' class='more' title="Show #{p.collection.count - 10} More" onclick="showAll(); return false;"><span class='arrow'></span>Show <%= p.collection.count - 10 %> More <%= p.object_label_plural %></a></li>	
<% end %>
