* 										{margin:0px; padding:0px;}

.ticker-sprite 							{width:50px; height:50px; background:url('../images/ticker-sprite.png') no-repeat 0px 0px;}

@font-face 								{font-family: Chromadica; src: url('../fonts/Chromadica-Condensed.otf');}
@font-face 								{font-family: Chromadica Thin; src: url('../fonts/Chromadica-Thin-Ultra-Condensed.otf');}

body.ticker 							{font-family: Chromadica; letter-spacing:1px;}
body.ticker input 						{border:none;}
body.ticker label.error 				{display:none !important;}

.ticker .background 					{width:184; height:260px; background-position:0px -36px;}
.ticker .handle 						{position:absolute; top:11px; left:11px; width:160px; height:33px;}
.ticker .handle .logo 					{position:absolute; top:6px; left:6px; width:21px; height:21px;}
.ticker .handle .wrapper.position 		{position:absolute; top:8px; right:8px;}
.ticker .handle .minimize 				{float:left; width:17px; height:16px; margin:0px 10px 0px 0px; background-position:-118px -1px; cursor:pointer;}
.ticker .handle .minimize:hover 		{background-position:-118px -19px;}
.ticker .handle .close 					{float:left; width:16px; height:16px; background-position:-147px -1px; cursor:pointer;}
.ticker .handle .close:hover 			{background-position:-147px -19px;}

.ticker .clock 							{position:absolute; top:44px; left:11px; width:160px; height:115px; color:#2F2E2C;}
.ticker .clock .wrapper.position 		{position:absolute; top:0px; left:0px; max-width:160px; height:85px;}
.ticker .clock p						{float:left; font-size:110px;}
.ticker .clock .time 					{margin:0px 10px 0px 0px; font-family: Chromadica Thin;}
.ticker .clock .indicator				{font-size:28px; text-transform:uppercase;}
.ticker .calendar						{position:absolute; top:158px; left:11px; width:160px; height:52px; color:#2F2E2C; text-transform:uppercase;}
.ticker .calendar .wrapper.position 	{position:absolute; top:0px; left:0px;}
.ticker .calendar p						{float:left; font-size:17px;}
.ticker .calendar p.weekday 			{margin:0px 5px 0px 0px;}
.ticker .tray 							{position:absolute; top:210px; left:11px; width:160px; height:33px;}
.ticker .tray .input 					{float:left; width:103px; height:33px; padding:2px 0px 0px 10px; font-family: Chromadica; font-size:17px; background:none;}
.ticker .tray .input:focus 				{outline:none;}
.ticker .tray .submit 					{float:right; width:57px; height:33px; color:#FFFFFF; font-size:12px; text-transform:uppercase; background-position:-5px -297px; cursor:pointer;}
.ticker .tray .submit:hover 			{background-position:-63px -297px;}
.ticker .tray .submit:active 			{background-position:-121px -297px;}