<div id='edit-employee-roles'>
	<h2>Assign Employee roles</h2>
	<form id='edit-employee-roles-form'>
		<div class='edit-employee-roles-group'>
			<ul>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 1</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 2</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 3</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 4</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 5</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 6</span></li>
			</ul>
		</div>
	</form>
</div>