
<div id='edit-employee-roles'>
	<h2>[Company Name] Employee's</h2>
	<div id='edit-company-roles'>
		<ul>
			<li>
				<%= link_to "+ New Employee", new_admin_company_employee_url(@company), {:class => 'new'} %>
				<%= link_to "Search", {:class => 'search'} %>
			</li>
			<li><a href='#link'><span class='admin-transparent-sprite status away'></span>Employee Name</a></li>
			<li><a href='#link'><span class='admin-transparent-sprite status away'></span>Employee Name</a></li>
			<li><a href='#link'><span class='admin-transparent-sprite status out'></span>Employee Name</a></li>
			<li><a href='#link'><span class='admin-transparent-sprite status out'></span>Employee Name</a></li>
			<li><a href='#link'><span class='admin-transparent-sprite status in'></span>Employee Name</a></li>
		</ul>
	</div>
</div>