<div class='content company'>
	<ul class='list employees'>
		<li class='search' title='Search Employees List'><input value='Search Employees'/><%= render :partial => 'admin/shared/actions_bar' %></li>
		<li><a href='#link' title='Edit This Employee'><span class='status in' title='Status: In'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status in' title='Status: In'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status away' title='Status: Away'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status away' title='Status: Away'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status out' title='Status: Out'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status out' title='Status: Out'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Employee'><span class='status out' title='Status: Out'></span>First Name Last Name<span class='removable arrow'></span></a></li>
		<li><a href='#link' class='more' title='Show [Number] Employees'><span class='arrow'></span>Show [Number] More Employees</a></li>
	</ul>
</div>