<div id='employee-shifter' class='page-body shifter'>
	<div id='employee-grid-page'>

		<h1>Employees</h1>
		
		<%= render :partial => 'admin/shared/superFilter'%>
		
		<%  admin_grid :employee do |g| %>
			<% g.add_column :status, :name => 'Status', :type => :status %>
			<% g.add_column :photo, :name => 'Photo', :type => :image %>
			<% g.add_column :name, :name => 'Employee Name' %>
			<% g.add_column :email, :name => 'Email', :type => :email %>
			<% g.add_column :birthdate, :name => 'Birthday' %>
		<%  end %>
		
	</div>
	
	<% content_for :admin_body_left do -%>
		<div id='btn-back' class='site-btn' onclick='shiftPage()'></div>
	<% end -%>
	

</div>

<script type='text/javascript'>

	var shifted = false;

	function shiftPage()
	{
		if(shifted)
		{
			$(".shifter").animate({"left": "+=" + $(".shifter").width()/2});
			shifted = false;
		}else{
			$(".shifter").animate({"left": "-=" + $(".shifter").width()/2});
			shifted = true;
		}
	}
</script>