<div class='page-body'>
	<div id='employee-grid'>
		<div id='spotlight-right' class='spotlight-content'>
			<div id='spotlight-body'>
				<span id='spotlight-header'>welcome to chromada</span>
				<span id='spotlight-sub-header'>web-base tools, superior orginazation, efficient business.</span>
				<p>Simple tasks are often the most time consuming, unorganized and unmeasured details of a business. Chromada offers intuitive web-based tools to give you an unprecedented level of control and analytics of your business.</p>
				<span id='take-a-tour' class='hand-cursor'>take a tour ></span>
			</div>
		</div>
	</div>
</div>