<div id='employee-shifter' class='page-body shifter'>
	
	<div id='employee-grid-page' class='admin-page'>
		<div id='employee-grid-menu' class='admin-menu'>
			<ul>
				<li>
					<%= link_to 'Employees', admin_employees_url %>
				</li>
				<li>
					<%= link_to "ACL Roles"  %>
				</li>
			</ul>
		</div>
		
		<div id='employee-grid' class='admin-grid'>

			<h1>Employees</h1>
		
			<%= render :partial => 'admin/shared/superFilter'%>
		
			<%  admin_grid :employee do |g| %>
				<% g.add_column :status, :name => 'Status', :type => :status %>
				<% g.add_column :photo, :name => 'Photo', :type => :image %>
				<% g.add_column :name, :name => 'Employee Name' %>
				<% g.add_column :email, :name => 'Email', :type => :email %>
			<%  end %>
			
		</div>
	</div>
	
	<div id='edit-employee-page' class='admin-page'>
		
		<div id='edit-employee-menu' class='admin-menu'>
			<div id='btn-back' class='site-btn' onclick='shiftPage()'></div>
		</div>
	
</div>

<script type='text/javascript'>

	var shifted 	= false;
	var dist	 	= $(".admin-page").width() + parseFloat($(".admin-page").css('margin-right'));

	function shiftPage()
	{
		if(shifted)
		{
			$(".shifter").animate({"left": "+=" + dist});
			shifted = false;
		}else{
			$(".shifter").animate({"left": "-=" + dist});
			shifted = true;
		}
	}
</script>