<div class='page-body'>
	<div id='employee-grid-page'>

		<h1>Employees</h1>
		
		<%= render :partial => 'admin/shared/superFilter'%>
		
		<div id='employee-grid-wrapper'>
			<div id='employee-grid'>
				<%= render :partial => 'admin/shared/toolbar'%>
				<div>
					
				</div>
				<%= render :partial => 'admin/shared/toolbar'%>
			</div>
		</div>
	</div>
</div>