<div class='nav'>
	<ul>
		<li><a href='<%= url_for([:admin, @company, :dashboard]) %>' <% if (active == :dashboard) %>class="active"<% end %>>Company Dashboard<span class='arrow'></span></a></li>
		<li><a href='<%= url_for([:edit, :admin, @company]) %>' <% if (active == :edit) %>class="active"<% end %>>General Information<span class='arrow'></span></a></li>
		<li><a href='#link'>Billing<span class='arrow'></span></a></li>
		<li><a href='<%= url_for([:admin, @company, :employees]) %>' <% if (active == :employees) %>class="active"<% end %>>Manage Employees<span class='arrow'></span></a></li>
		<li><a href='<%= url_for([:admin, @company, :roles]) %>' <% if (active == :roles) %>class="active"<% end %>>Create &amp; Edit Permissions<span class='arrow'></span></a></li>
	</ul>
</div>