<% content_for :left do %>
	<%= render :partial => 'admin/companies/menu', :locals => {:active => :dashboard} %>
<% end %>


<ul class='content dashboard'>
	<li>
		<h3 class='heading'>active products</h3>
	</li>
	
	<li>
		<h3 class='heading'>available products</h3>
	</li>
	
	<li>
		<h3 class='heading'>employee id</h3>
	</li>
	
	<li>
		<h3 class='heading'>need some help?</h3>
	</li>
</ul>