/************************************************** MAIN ELEMENT STYLES **************************************************/

/***** SPRITES *****/
.admin-sprite				 							{width:50px; height:50px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
#admin .list-image 										{width:50px; height:50px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
#admin .status 											{float:left; width:15px; height:15px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}

/***** LEFT COLUMN *****/
#admin .left-column 									{float:left; width:160px; margin:0px 20px 0px 0px;}
#admin .left-column .column-heading 					{float:left; width:100%; margin:0px 0px 10px 0px; color:#ACACAC; font-weight:normal;}

/* navigation */
#admin .left-column .nav ul li a	 					{float:left; width:145px; margin:0px 0px 10px 0px; padding:15px 10px; color:#FFFFFF; font-size:15px; background:#939393; background:-webkit-gradient(linear, left top, left bottom, from(#939393), to(#6D6D6D)); background:-moz-linear-gradient(top, #939393, #6D6D6D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#6D6D6D'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#admin .left-column .nav ul li a:hover 					{background:#737373; background:-moz-linear-gradient(top, #737373, #4E4E4E); background:-webkit-gradient(linear, left top, left bottom, from(#737373), to(#4E4E4E)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#4E4E4E');}
#admin .left-column .nav ul li a.active					{color:#00FFFF; background:#737373; background: -moz-linear-gradient(top, #737373, #4E4E4E); background:-webkit-gradient(linear, left top, left bottom, from(#737373), to(#4E4E4E)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#4E4E4E'); radius:5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px;}

#admin .left-column .nav ul.sub							{margin:-10px 0px 10px 0px; radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px; box-shadow:inset 0 0 10px #DADADA; -moz-box-shadow:inset 0 0 10px #DADADA; -webkit-box-shadow:inset 0 0 10px #DADADA;}
#admin .left-column .nav ul.sub li a					{float:left; width:145px; margin:0px 0px 1px 0px; color:#9D9D9D; background:none; border-bottom:#DADADA solid 1px; radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
#admin .left-column .nav ul.sub li a:hover, a.active 	{color:#43E3E3;}
#admin .left-column .nav ul.sub li.last a				{border-bottom:none;}

/***** RIGHT COLUMN *****/
#admin .right-column 									{float:left; width:760px; margin:24px 0px 0px 0px;}
#admin .right-column .content							{float:left; width:315px; padding:34px; border:10px solid #F5F5F5; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

/***** TOOLBARS *****/
.toolbar 												{width:100%;}
.toolbar .new 											{float:left; width:134px;}
.toolbar .search 										{position:relative; float:right; width:134px; padding:7px; background:-moz-linear-gradient(top, #F9F8F8, #EBEBEB); background:-webkit-gradient(linear, left top, left bottom, from(#F9F8F8), to(#EBEBEB)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F8F8', endColorstr='#EBEBEB'); border:1px solid #DEDEDE; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.toolbar .search input									{float:right; width:130px; padding:1px 2px; font-size:12px !important; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.toolbar .search .icon									{position:absolute; top:11px; right:12px; width:12px; height:12px; background-position:-573px -20px;}

/***** BUTTONS *****/
#admin .buttonbar 										{float:left; width:100%;}

/*
.admin-button 											{float:left; width:50px; height:50px; margin:0px; padding:0px !important; background:url('../images/admin-sprite.png') no-repeat 0px 0px; border:none; cursor:pointer;}

.admin-button.back 										{width:93px; height:36px; margin:0px 2px; background-position:-145px -79px;}
.admin-button.back:hover								{background-position:-145px -116px;}
                                                        	
.admin-button.save 										{width:73px !important; height:36px; margin:0px 2px; background-position:0px -66px;}
.admin-button.save:hover								{background-position:0px -103px;}
                                                        	
.admin-button.cancel 									{width:94px; height:36px; margin:0px 2px; background-position:-234px -66px;}
.admin-button.cancel:hover								{background-position:-234px -103px;}
                                                        	
.admin-button.delete 									{width:93px !important; height:36px; margin:0px 2px; background-position:-140px -66px;}
.admin-button.delete:hover								{background-position:-140px -103px;}
                                                        	
.admin-button.next										{width:93px; height:36px; margin:25px 0px; background-position:-145px -79px;}
.admin-button.next:hover								{background-position:-145px -116px;}
                                                        	
.admin-button.new 										{width:93px; height:36px; margin:0px 2px; background-position:-145px -79px;}
.admin-button.new:hover									{background-position:-145px -116px;}
*/
.admin-button 											{float:left; text-transform:uppercase; letter-spacing:1px; border:none;}

.admin-button.back 										{width:93px; margin:0px 2px; padding:7px 0px; color:#FFFFFF; font-size:15px; background:#C1C1C1; background:-webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#AEAEAE)); background:-moz-linear-gradient(top, #C1C1C1, #AEAEAE); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C1C1C1', endColorstr='#AEAEAE'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.back:hover								{background:#8A8A8A; background:-webkit-gradient(linear, left top, left bottom, from(#8A8A8A), to(#6C6C6C)); background:-moz-linear-gradient(top, #8A8A8A, #6C6C6C); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A8A8A', endColorstr='#6C6C6C');}
                                                        	
.admin-button.save 										{width:73px !important; margin:0px 2px; padding:7px 0px;  color:#FFFFFF; font-size:15px; background:#01D870; background:-webkit-gradient(linear, left top, left bottom, from(#01D870), to(#01C265)); background:-moz-linear-gradient(top, #01D870, #01C265); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#01D870', endColorstr='#01C265'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.save:hover								{background:#00EE5A; background:-webkit-gradient(linear, left top, left bottom, from(#00EE5A), to(#00D651)); background:-moz-linear-gradient(top, #00EE5A, #00D651); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EE5A', endColorstr='#00D651');}
                                                        	
.admin-button.cancel 									{width:93px; margin:0px 2px; padding:7px 0px;  color:#FFFFFF; font-size:15px; background:#C1C1C1; background:-webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#AEAEAE)); background:-moz-linear-gradient(top, #C1C1C1, #AEAEAE); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C1C1C1', endColorstr='#AEAEAE'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.cancel:hover								{background:#8A8A8A; background:-webkit-gradient(linear, left top, left bottom, from(#8A8A8A), to(#6C6C6C)); background:-moz-linear-gradient(top, #8A8A8A, #6C6C6C); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A8A8A', endColorstr='#6C6C6C');}
                                                        	
.admin-button.delete 									{width:93px !important; padding:7px 0px;  margin:0px 2px; color:#FFFFFF; font-size:15px; background:#F56D53; background:-webkit-gradient(linear, left top, left bottom, from(#F56D53), to(#F54C2B)); background:-moz-linear-gradient(top, #F56D53, #DC624A); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F56D53', endColorstr='#DC624A'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.delete:hover								{background:#F54C2B; background:-webkit-gradient(linear, left top, left bottom, from(#F54C2B), to(#DC4527)); background:-moz-linear-gradient(top, #F54C2B, #DC4527); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F54C2B', endColorstr='#DC4527');}
                                                        	
.admin-button.next										{width:93px; margin:25px 0px; padding:15px 10px; color:#FFFFFF; font-size:15px; background:#939393; background:-webkit-gradient(linear, left top, left bottom, from(#939393), to(#6D6D6D)); background:-moz-linear-gradient(top, #939393, #6D6D6D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#6D6D6D'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.next:hover								{margin:0px 0px 10px 0px; padding:15px 10px; color:#FFFFFF; font-size:15px; background:#939393; background:-webkit-gradient(linear, left top, left bottom, from(#939393), to(#6D6D6D)); background:-moz-linear-gradient(top, #939393, #6D6D6D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#6D6D6D'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
                                                        	
.admin-button.new 										{width:93px; margin:0px 2px; padding:15px 10px; color:#FFFFFF; font-size:15px; background:#939393; background:-webkit-gradient(linear, left top, left bottom, from(#939393), to(#6D6D6D)); background:-moz-linear-gradient(top, #939393, #6D6D6D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#6D6D6D'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.admin-button.new:hover									{margin:0px 0px 10px 0px; padding:15px 10px; color:#FFFFFF; font-size:15px; background:#939393; background:-webkit-gradient(linear, left top, left bottom, from(#939393), to(#6D6D6D)); background:-moz-linear-gradient(top, #939393, #6D6D6D); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#6D6D6D'); radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.new 													{padding:8px !important; color:#01D770 !important; font-size:15px !important; background:#E7FFF0 !important; border:2px solid #BBFFD5 !important; radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.new:hover 												{radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

/***** LISTS *****/
#admin .list-image.open									{width:8px; height:10px; background-position:-5px -22px;}
#admin .list-image.delete								{width:8px; height:8px; background-position:-26px -23px;}

/************************************************** PAGES (Admin Layer) **************************************************/

#admin .page-heading		 							{float:left; width:100%; margin:15px 0px 0px 0px; color:#979797; font-size:18px;}

/**** COMPANY *****/
.company 												{font-size:15px;}
.company input 											{font-size:15px;}
.company.content .toolbar 								{float:left; margin:25px 0px;}
.company.content .buttonbar								{float:left; margin:25px 0px;}

/* add new */
.company .create 										{float:left;}
.company .create input 									{float:left; width:305px; padding:10px; color:#7B7B7B; border:#DEDEDE solid 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.company .create .note 									{float:left; margin:10px 0px; color:#959595; font-size:14px;}

/* employee list */
.company .employee-list									{float:left; width:295px;}
.company .employee-list ul li							{float:left; width:100%; margin:0px 0px 10px 0px;}
.company .employee-list ul li a							{float:left; width:100%; padding:10px; color:#7B7B7B; border:#DEDEDE solid 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.company .employee-list ul li a:hover 					{background-color:#E3FFFF;}
.company .employee-list ul li a.more					{font-weight:bold; background:-moz-linear-gradient(top, #F9F8F8, #EBEBEB); background:-webkit-gradient(linear, left top, left bottom, from(#F9F8F8), to(#EBEBEB)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F8F8', endColorstr='#EBEBEB'); border:1px solid #DEDEDE; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.company .employee-list .status 						{margin:0px 10px 0px 0px;}
#admin .company .employee-list .status.in 				{background-position:-3px -3px;}
#admin .company .employee-list .status.away				{background-position:-19px -3px;}
#admin .company .employee-list .status.out				{background-position:-35px -3px;}

/* create/edit employee */
.company .employee 										{float:left; color:#7B7B7B;}
.company .employee input 								{float:left; width:305px; margin:5px 0px; padding:10px; color:#7B7B7B; border:#DEDEDE solid 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.company .employee .authentication						{float:left; width:100%;}
.company .employee .authentication input				{float:left; width:125px;}
.company .employee .authentication label				{float:left; margin:5px 0px 0px 2px; padding:0px;}
.company .employee .authentication .password			{float:left; width:100%;}
.company .employee .authentication .id					{float:left; width:100%;}
.company .employee .authentication .checkbox-group		{float:right; width:175px; margin:15px 0px 0px 0px;}
.company .employee .authentication .special				{float:left; margin:4px 10px 0px 10px; text-transform:uppercase;}
.company .employee .roles		 						{float:left; width:100%; margin:25px 0px 0px 0px; color:#AFAFAF; font-size:14px;}
.company .employee .roles .header 						{float:left; width:100%; margin:0px 0px 5px 0px;}
.company .employee ul, .company .employee ul li			{float:left; width:100%;}
.company .employee .roles input 						{float:left;}
.company .employee .roles label							{float:left; margin:5px 0px 0px 2px; padding:0px;}

/* edit roles */
.company .roles-list									{float:left; width:295px;}
.company .roles-list ul, .company .roles-list ul li		{float:left; width:100%;}
.company .roles-list ul li a							{float:left; width:100%; margin:0px 0px 10px 0px; padding:10px; color:#7B7B7B; border:#DEDEDE solid 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.company .roles-list ul li a:hover 						{background-color:#E3FFFF;}

/* add role */
.company .add-role 										{float:left;}
.company .add-role input								{float:left; width:305px; padding:10px; color:#7B7B7B; border:#DEDEDE solid 1px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

.company .add-role .role-actions   							   {float:left; width:100%; margin:10px 0px 0px 0px; font-size:14px;}
.company .add-role .role-actions ul							   {float:left; width:100%;}
                                                               
.company .add-role .role-actions .parent.arrow				   {float:left; width:10px; height:8px; margin:2px 5px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
.company .add-role .role-actions .parent.active.arrow		   {background-position: -255px -36px;}
.company .add-role .role-actions .parent.inactive.arrow		   {background-position: -255px -44px;}
.company .add-role .role-actions ul li						   {position:relative; float:left; width:100%; margin:0px; color:#AFAFAF;}
.company .add-role .role-actions input						   {float:left; width:auto; margin:1px 0px;}
.company .add-role .role-actions label						   {float:left; margin:5px 0px 0px 2px; padding:0px;}
.company .add-role .role-actions label.parent				   {margin-left:10px;}
.company .add-role .role-actions .parent .arrow				   {float:left; width:10px; height:8px; margin:2px 5px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
.company .add-role .role-actions .parent.active .arrow		   {background-position: -21px -37px;}
.company .add-role .role-actions .parent.inactive .arrow	   {background-position: -21px -45px;}
