/************************************************** MAIN ELEMENT STYLES **************************************************/

/***** SPRITES *****/
.admin-sprite				 								{width:50px; height:50px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
#admin .list-image 											{width:50px; height:50px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
                                                        	
/***** LAYOUT *****/                                    	
#admin .page 												{padding:18px 0px 0px 0px;}
#admin .page .body											{margin:18px 0px 32px 0px;}

/***** HEADER *****/                                    	
#admin .header 												{font-size:17px;}
#admin .header a 											{float:right; color:#87D8D8;}
#admin .header a:hover 										{color:#00D3D3; text-decoration:underline;}
#admin .header .wrapper										{float:right; width:645px; margin:8px 0px 0px 0px;}
#admin .header .logo		 								{float:left; width:188px; height:34px; margin:0px; padding:0px; background-position:0px -35px;}
#admin .header .logo:hover	 								{background-position:0px 0px;}
#admin .header .message.welcome 							{width:475px; margin:0px; padding:0px; color:#4C4C4C; font-size:17px; font-weight:bold; border:none;}
#admin .header .solid-rule	 								{float:left; width:100%; height:2px; margin:18px 0px 0px 0px; background:#989898;}
                                                        	
/***** DASHBOARD *****/                                 	
#admin .panel 												{float:left; width:100%; min-height:100px; margin:0px 0px 28px 0px;}
#admin .panel .full-column 									{float:left; width:100%; margin:-15px 0px 32px 0px;}
#admin .panel .left-column	 								{float:left; width:340px; margin:0px 20px 0px 0px;}
#admin .panel .left-column .heading 						{float:left; width:100%; margin:0px 0px 15px 0px; color:#4C4C4C; font-size:30px;}
#admin .panel .back 										{font-size:16px;}
#admin .panel .back span									{margin:3px 0px 0px 25px;}
#admin .panel .right-column	 								{float:left; width:580px;}

/***** FULL COLUMN *****/
#admin .full-column .nav 									{float:left; width:100%;}
#admin .full-column .nav ul									{float:left; width:100%;}
#admin .full-column .nav ul li 								{float:left; width:100%;}
#admin .full-column .nav ul li a	 						{float:left; width:100%; padding:14px 0px 12px 0px; border-bottom:1px solid #989898; color:#4C4C4C; font-size:30px; font-weight:bold;}
#admin .full-column .nav ul li a:hover 						{color:#01DBDB;}
#admin .full-column .nav ul li a.active						{color:#87D8D8;}
#admin .full-column .nav ul li a .arrow	 					{float:right; width:18px; height:26px; margin:2px 10px 0px 0px; background:url('../images/admin-sprite.png') no-repeat -114px -160px;}
#admin .full-column .nav ul li a:hover .arrow	 			{background-position:-133px -160px;}
#admin .full-column .nav ul li a.active .arrow	 			{background-position:0px -95px;}
#admin .full-column .nav li a.add							{border:none; color:#0EDF58;}
#admin .full-column .nav li a.add:hover						{border:none; color:#00CA13;}
#admin .full-column .nav .actions-bar 						{float:right; border:none; margin:15px 0px 0px 0px; padding:0px 5px 0px 0px;}
#admin .full-column .nav .actions-bar a 					{border:none; width:28px; height:28px; margin:0px 5px; padding:0px;}
#admin .full-column .nav .admin-button.add 					{background-position:-56px -176px;}
#admin .full-column .nav .admin-button.remove 				{background-position:-27px -175px;}
#admin .full-column .nav .admin-button.add:hover 			{background-position:-56px -148px;}
#admin .full-column .nav .admin-button.remove:hover			{background-position:-27px -147px;}
#admin .full-column .nav li input		 					{float:left; padding:15px 0px 12px 0px; border:none; color:#0EDF58; font-size:30px;}
#admin .full-column .nav li.search 							{border-bottom:1px dotted #989898;}
                                                        	
/***** LEFT COLUMN *****/                               	
#admin .left-column 										{float:left; width:340px; margin:0px 20px 0px 0px;}
#admin .left-column .column-heading 						{float:left; width:100%; margin:0px 0px 10px 0px; color:#ACACAC; font-weight:normal;}
                                                        	
/* menu */                                        	
#admin .left-column .nav 									{float:left; width:100%; border-top:1px solid #989898;}
#admin .left-column .nav ul									{float:left; width:100%;}
#admin .left-column .nav ul li 								{float:left; width:100%;}
#admin .left-column .nav ul li a	 						{float:left; width:100%; padding:14px 0px 12px 0px; border-bottom:1px solid #989898; color:#4C4C4C; font-size:19px; font-weight:bold;}
#admin .left-column .nav ul li a:hover 						{color:#01DBDB;}
#admin .left-column .nav ul li a.active						{color:#87D8D8;}
#admin .left-column .nav ul li a .arrow	 					{float:right; width:10px; height:15px; margin:2px 12px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px -110px;}
#admin .left-column .nav ul li a:hover .arrow	 			{background-position:0px -80px;}
#admin .left-column .nav ul li a.active .arrow	 			{background-position:0px -95px; margin:1px 12px 0px 0px;}
                                                        	
/***** RIGHT COLUMN *****/                              	
#admin .right-column 										{position:relative; float:left; width:580px;}
#admin .right-column .content								{float:left; width:100%;}
#admin .right-column .content .body							{margin:0px 0px 0px 0px;}
                                                        	
/***** BUTTONS *****/                                   	
.actions-bar 												{overflow:hidden; margin:12px 0px 13px 0px; padding:0px 5px;}
.admin-button												{width:17px; height:17px; margin:0px; padding:0px; cursor: pointer; background:url('../images/admin-sprite.png') no-repeat 0px 0px; border:none;}
.admin-button span											{float:left; margin:2px 0px 0px 30px;}
.admin-button.back 											{float:left; width:21px; height:21px; color:#87D8D8; font-size:19px; background-position:-32px -102px;}
.admin-button.back:hover 									{color:#00D3D3; background-position:-32px -81px;}
.admin-button.add 											{float:right; background-position:-94px -102px;}
.admin-button.add:hover 									{background-position:-94px -84px;}
.admin-button.save 											{float:right; background-position:-130px -102px;}
.admin-button.save:hover 									{background-position:-130px -84px;}
.admin-button.remove 										{float:right; background-position:-112px -102px;}
.admin-button.remove:hover									{background-position:-112px -84px;}
.admin-button.submit 										{float:left; width:17px; height:17px; color:#87D8D8; font-size:17px; background-position:-72px -102px;}
.admin-button.submit:hover									{color:#00D3D3; background-position:-72px -84px;}
.admin-button.submit span									{margin:2px 0px 0px 25px;}                                	
                                                        	
/***** LISTS *****/                                     	
#admin .list-image.open										{width:8px; height:10px; background-position:-5px -22px;}
#admin .list-image.delete									{width:8px; height:8px; background-position:-26px -23px;}

/************************************************** PAGES (Admin Layer) **************************************************/

/***** DASHBOARD *****/
#admin .right-column .dashboard.content 					{float:left; color:#4C4C4C;}
#admin .right-column .dashboard.content  li					{float:left; width:100%; height:100px; border-top:1px dotted #989898; margin:0px 0px 25px 0px; padding:5px 0px 0px 0px;}
#admin .right-column .dashboard.content  .heading			{float:left; width:100%; margin:0px 0px 8px 0px; font-size:15px; font-weight:normal; text-transform:capitalize;}
                                                        	
/**** COMPANY *****/                                    	
.content.company 											{float:left; font-size:15px; color:#4C4C4C; border-top:1px solid #989898; border-bottom:1px solid #989898;}

.company form 												{width:100%;}
.company .body 												{float:left; width:100%; margin:0px; color:#4C4C4C;}
.company .body li											{float:left; width:100%; border-top:1px dotted #989898; margin:0px 0px 38px 0px; padding:7px 0px 0px 0px;}
.company .body input 										{float:left; width:100%; margin:0px; padding:0px; border:none;}
.company .body .heading										{float:left; width:100%; margin:0px 0px 18px 0px; font-size:15px; font-weight:normal; text-transform:capitalize;}
.company .body input.name 									{font-size:36px;}
.company .body input.password 								{font-size:25px;}
.company .body input.id 									{font-size:25px;}
.company .body input.email 									{font-size:25px;}
                                                        	
/***** LIST *****/                                      	
.company .list												{float:left; width:100%;}
.company .list .actions-bar 								{float:right; border:none; margin:14px 0px 0px 0px;}
.company .list .actions-bar a 								{border:none; width:17px; height:17px; margin:0px 5px 0px 3px; padding:0px;}
.company .list li											{float:left; width:100%; padding:0px;}
.company .list li.first 									{margin:0px;}
.company .list li.last 										{margin:0px;}
.company .list li input		 								{float:left; width:475px; height:20px; padding:14px 0px 12px 0px; border:none; color:#A6A6A6; font-size:18px; font-style:italic;}
.company .list li.search 									{width:100%; border-bottom:1px dotted #989898;}
.company .list li.search .icon								{float:left; width:20px; height:20px; margin:13px 8px 0 5px; background-position:-50px -125px;}
.company .list .removable.remove							{float:right; width:17px; height:17px; margin:2px 10px 0px 0px; background:url('../images/admin-sprite.png') no-repeat -112px -102px;}
.company .list .removable.remove:hover						{float:right; width:17px; height:17px; margin:2px 10px 0px 0px; background:url('../images/admin-sprite.png') no-repeat -112px -84px;}
.company .list li a											{float:left; width:100%; padding:13px 0px 13px 0px; border-bottom:1px dotted #989898; color:#4C4C4C; font-size:19px;}
.company .list li a:hover 									{color:#01DBDB;}
.company .list li a:hover .arrow	 						{background-position:0px -80px;}
.company .list li a.more									{border:none; color:#959595;}
.company .list li a.add										{border:none; color:#0EDF58;}
.company .list li a.add:hover								{border:none; color:#00CA13;}
                                                			
.company .list .arrow 										{float:right; width:10px; height:15px; margin:3px 11px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px -125px;}
.company .list li a.more .arrow								{float:left; width:15px; height:10px; background-position:-15px -104px;}
                                                        	
/* companies list */    

/* permissions list */     

/* users list */                           	
                                                        	
/* create/edit company */


/***** EDIT *****/

/* create/edit employee */
.company .employee .checkbox-group 							{float:left; margin:9px 0px 0px 5px; color:#757575; font-style:italic; text-transform:capitalize;}
.company .employee .permissions    							{float:left; width:100%; font-size:14px;}
.company .employee .permissions li							{float:left; width:100%; margin:0px 0px 8px 0px; padding:0px; border:none;}
.company .employee .permissions input 						{float:left;}
.company .employee .permissions label						{float:left; margin:5px 0px 0px 2px; padding:0px;}

/* create/edit permissions */
.company .permission .permissions    						{float:left; width:100%; font-size:14px;}
.company .permission .permissions li						{float:left; width:100%; margin:0px; padding:0px; border:none;}
.company .permission .permissions li .active				{color:#01DBDB;}
.company .permission .permissions li .parent				{color:#01DBDB;}
.company .permission .permissions .sub						{float:left; width:100%;}
.company .permission .permissions input 					{float:left;}
.company .permission .permissions label						{float:left; margin:5px 0px 0px 2px; padding:0px;}

.company .permission .permissions .parent .arrow			{float:left; width:10px; height:10px; margin:0px 5px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
.company .permission .permissions .parent.active .arrow		{background-position: -169px -105px;}
.company .permission .permissions .parent.inactive .arrow	{background-position: -169px -105px;}

.edit-employee-permissions-group 							{float:left;}

/* create/edit employee */
.company .user .checkbox-group 								{float:left; margin:9px 0px 0px 5px; color:#757575; font-style:italic; text-transform:capitalize;}
.company .user .permissions    								{float:left; width:100%; font-size:14px;}
.company .user .permissions li								{float:left; width:100%; margin:0px 0px 8px 0px; padding:0px; border:none;}
.company .user .permissions input 							{float:left;}
.company .user .permissions label							{float:left; margin:5px 0px 0px 2px; padding:0px;}

/* MOVE INTO A TICKER CSS OR SOMETHING */               	
/* employees list                                       	
.company .list.employees .status 							{float:left; width:6px; height:6px; margin:5px 10px 0px 0px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
.company .list.employees .status.in 						{background-position:-152px -89px;}
.company .list.employees .status.away						{background-position:-159px -89px;}
.company .list.employees .status.out						{background-position:-166px -89px;}
*/
