.messaging	 							{position:absolute; top:0px; left:0px; z-index:10;}
.messaging .message 					{position:relative; max-width:350px; padding:25px; color:#DEDEDE; font-size:15px; background:#000000; opacity:.85; filter:alpha(opacity=85); filter: “alpha(opacity=85)”; border:#C5C5C5 solid 5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.messaging .close 						{position:absolute; top:5px; right:10px; color:#DEDEDE; font-size:21px;}
.messaging .icon 						{float:left; width:100px; height:100px; background:url(../images/messaging-sprite.png) no-repeat 0px 0px;}
.messaging .message-block 				{float:right; width:250px;}
.messaging .message-block .header 		{margin:0px 0px 10px 0px; color:#DEDEDE;}
.messaging .message-block .content 		{color:#DEDEDE; line-height:20px;}
                                		
.messaging .success						{}                          	
.messaging .success .icon 				{float:left; width:69px; height:57px; background-position:0px 0px;}
.messaging .success .header 			{color:#4DFF5E;}
                                    	
.messaging .warning						{}                    	
.messaging .warning .icon 				{float:left; width:61px; height:61px; background-position:-76px 0px;}
.messaging .warning .header 			{color:#FFFD4C;}
                                		
.messaging .failure						{}                      	
.messaging .failure .icon 				{float:left; width:61px; height:61px; background-position:-141px 0px;}
.messaging .failure .header 			{color:#FF4C4C;}
                                		
.messaging .error						{}                       	
.messaging .error .icon 				{float:left; width:61px; height:61px; background-position:-141px 0px;}
.messaging .error .header 				{color:#FF4C4C;}
                                    	
.messaging .notice						{}
.messaging .notice .message-block		{float:left; width:100%;}
                                	