.messaging	 					{position:absolute; top:0px; left:0px; z-index:1;}
.messaging .message 			{max-width:350px; padding:25px; color:#DEDEDE; font-size:15px; background:#000000; border:#C5C5C5 solid 5px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
                            	
.messaging .success				{}
.messaging .failure				{}
.messaging .notice				{}
.messaging .error				{}
.messaging .warning				{}
                            	
.messaging .icon 				{float:left;}
.messaging .message-block 		{float:right; width:250px;}
.messaging .header 				{margin:0px 0px 10px 0px; color:#DEDEDE;}
.messaging .content 			{color:#DEDEDE; line-height:20px;}