/************************************************** GLOBAL STYLES **************************************************/

/* CLEAR */
html, body, div, span, p, ol, ul, li, img,
h1, h2, h3, h4, h5, h6										{margin:0; padding:0; outline:none; border:none;}
                                                    		
/* MAIN */      
html 														{}                      		
body 														{background:#FFFFFF url('../images/bg-texture.gif') repeat 0px 0px; color:#454851; font-family:'Arial', Arial, sans-serif; font-size:12px;}
                                                    		
/* LISTS */                                         		
ul, li														{list-style-type:none; list-style-position:outside;}
ul.disc li													{list-style-type:disc;}
ul.lalpha li 												{list-style-type:lower-alpha;}
ul.decimal li 												{list-style-type:decimal;}
                                    		        		
/* LINKS */                           		        		
a															{text-decoration:none; color:#22B3B8;}
a:hover														{text-decoration:none; color:#22B3B8;}
                                    		        		
/* HEADERS */                                       		
h1, h2, h3, h4, h5, h6 										{text-transform:uppercase; font-family:'Tahoma', Arial, sans-serif; letter-spacing:0.75px;}
h1															{margin:57px 0px 0px 0px; font-size:47px; font-weight:normal; font-family:'calluna-1', 'calluna-2', 'Times New Roman', Times, sans-serif; text-transform:none;}                     		
h2															{display:inline-block; margin:42px 0px 45px 0px; padding:23px 0px 27px 0px; border-top:solid 1px #DADDE5; border-bottom:solid 1px #DADDE5; color:#797A7D; font-size:23px; font-family:'calluna-1', 'calluna-2', 'Times New Roman', Times, sans-serif; font-weight:lighter; line-height:31px; letter-spacing:0.5px; text-transform:none; letter-spacing:0px;}
h3															{font-size:12px;}
h4 															{font-size:12px; color:#454851;}
h5 															{font-size:10px;}
h6 															{}

/* TEXT */
p                                                    		{font-family:'Arial', Arial, sans-serif; letter-spacing:0.4px; line-height:22px;}

/* FORM ELEMENTS */                                 		
input														{padding:5px; font-family:'Arial', Arial, sans-serif;}
textarea 													{padding:5px; font-family:'Arial', Arial, sans-serif; resize:none;}

.bold 														{font-weight:bold;}
.clear 														{clear:both;}

/***** SPRITES *****/
.sprite 													{background:url('/images/web/web_sprite.png');}

/************************************************** MAIN ELEMENT STYLES **************************************************/

.rule 														{clear:both; display:block;}
.rule.thin 													{width:100%; height:1px; background:#DADDE5;}
.rule.thick 												{width:100%; height:5px; background:#454851;}

.logo 														{float:left; width:35px; height:35px; margin:17px 0px 0px 0px; background-position:-1px 0px;}

/***** HEADER *****/
.header 													{height:70px; border-bottom:solid 5px #454851;}
                                                    	
/***** LAYOUT *****/
.mobile .page.wrapper 			 							{position:relative; margin:0 auto; width:100%; min-height:100%; background:#FFFFFF; overflow:hidden;}
.mobile .page												{margin:0 auto; width:86%; overflow:hidden;}
.page .body													{position:relative; width:100%;}

.nav.panel 													{float:right; padding:30px 0px 27px 0px; list-style-type:none;}
.nav.panel li 												{float:left; padding:0px 30px 0px 0px; text-transform:uppercase; font-weight:bold;}
.nav.panel li.last											{padding-right:0px;}
.nav.panel li a 											{color:#ADB1BD; letter-spacing:1px;}
.nav.panel li a img.logo 									{}
                                                    		
/***** FOOTER *****/                                		
.footer 													{clear:both; position:relative; width:100%; overflow:hidden;}
.footer .rule												{width:100%; height:1px; background:#454851;}
.mobile .footer .section.foot 								{clear:both; height:96px; color:#ADB1BD; background:#454851;}
.footer .copyright 											{position:absolute; bottom:15px; left:20px; letter-spacing:1px; text-transform:uppercase; font-family:'Tahoma', Arial, sans-serif; font-size:11px; font-weight:bold;}

/************************************************** PAGES **************************************************/

/* INDEX */
.section.gutter.nav 										{position:absolute; top:18px; left:0px; width:105px; list-style-type:none; font-family:'Tahoma', Arial, sans-serif;}
.section.gutter.nav li a									{color:#ADB1BD; text-transform:uppercase;}
.section.gutter.nav li 										{padding:9px 0px; border-bottom:1px solid #ADB1BD;}
.section.gutter.nav li.last 								{border:none;}
.section.gutter.nav li a.active 							{font-weight:bold;}

.section.wrapper											{float:right; width:100%; padding:33px 0px 115px 0px;}
.section.title 												{clear:both; width:100%; padding:25px 0px 26px 0px; border-top:5px solid #454851; border-bottom:1px solid #DADDE5;}
.mobile .section.wrapper .section.column.first 				{width:240px; margin:0px 25px 25px 0px; line-height:21px;}
.mobile .section.wrapper .section.column 					{width:240px; margin:25px 25px 25px 0px; line-height:21px;}
.mobile .section.wrapper .section.column.last 				{width:240px; margin:25px 25px 0px 0px; line-height:21px;}
.section.wrapper .section.column img						{margin:0px 0px 7px 0px;}
.section.wrapper .section.column.last						{margin:0px;}
.section.wrapper .section.column .heading 					{margin:0px 0px 14px 0px;}

/* products */
.section.wrapper.products #banner-wrapper 					{position:relative; width:770px; height:443px;}
.section.wrapper.products #banner-wrapper .banner 			{position:absolute; top:0px; left:0px;}
.section.wrapper.products .controls							{width:100%; height:60px; margin:-3px 0px 0px 0px; background:#5A636B;}
.section.wrapper.products .controls .previous 				{float:left; width:33px; height:35px; margin:12px 0px 0px 15px; background-position:-50px 0px; cursor:pointer;}
.section.wrapper.products .controls .next 					{float:left; width:33px; height:35px; margin:12px 0px 0px 9px; background-position:-82px 0px; cursor:pointer;}
.section.wrapper.products .controls .previous:hover			{background-position:-116px 0px;}
.section.wrapper.products .controls .next:hover				{background-position:-148px 0px;}
.section.wrapper.products .controls #count					{float:left; letter-spacing:4px; margin:18px 0px 0px 28px; color:#D4D6DE; font-family:'Tahoma', Arial, sans-serif; font-weight:bold;}
.section.wrapper.products h1 								{position:relative;}
.section.wrapper.products .trial							{position:absolute; top:2px; right:58px; width:182px; height:39px; background-position:0px -37px;}
.section.wrapper.products .trial:hover						{background-position:0px -77px;}
.section.wrapper.products h2 								{margin:14px 0px 39px 0px;}
.section.wrapper.products ul								{padding:0px 0px 0px 12px; line-height:22px; list-style-type:inside;}

/* contact */
.section.wrapper.contact h2 								{margin-top:0px; padding-top:0px; border-top:none;}
.section.wrapper.contact label								{width:95%; margin:0px 0px 5px 0px;}
.section.wrapper.contact input 								{width:95%; height:20px; margin:0px 0px 10px 0px; background:#E2E3E9; border:none;}
.section.wrapper.contact textarea 							{width:95%; height:80px; margin:0px 0px 5px 0px; background:#E2E3E9; border:none;}
.section.wrapper.contact input.button 						{width:auto; margin:0px; padding:0px; color:#22B3B8; font-size:12px; font-weight:bold; background:none;}

/***** LEGAL *****/
.section.legal 												{width:512px; margin:140px 130px;}
.section.legal a		 									{color:#22b3b8;}
.section.legal ul	 										{width:440px; margin:0 auto; padding:15px;}
.section.legal .section 									{line-height:22px;}
.section.legal .section h2									{margin:0px 0px 12px 0px;}
.section.legal .section h3 									{margin:0px 0px 10px 0px; font-weight:bold; font-family:'Arial', Arial, sans-serif;}
.section.legal .section h5 									{display:inline;}
.section.legal .section p 									{margin:0px 0px 21px 0px;}
.section.legal .section p.margun 							{margin:0px;}
.section.legal .section address 							{margin:0pc 0pc 21px 0px;}