/********** MOBILE **********/
.page-wrapper 			{float:left; width:100%; margin:0px;}
.page 					{float:left; width:100%; margin:0px; padding:20px 0px;}

.footer 				{float:left; width:100%; margin:0px;}