/************************************************** GLOBAL STYLES **************************************************/

/* CLEAR */
html, body, div, span, p, ol, ul, li, img,
h1, h2, h3, h4, h5, h6										{margin:0; padding:0; border:none;}
                                                    		
/* MAIN */      
html 														{height:100%;}                      		
body 														{height:100%; background:#FFFFFF url('../images/bg-texture.gif') repeat 0px 0px; font-family:'ff-enzo-web-1', 'ff-enzo-web-2', 'Helvetica', Arial, sans-serif; font-size:12px;}
                                                    		
/* LISTS */                                         		
ul, li														{list-style-image:none; list-style-type:none; list-style-position:outside;}
                                    		        		
/* LINKS */                           		        		
a															{text-decoration:none; color:#616161;}
a:hover														{text-decoration:none; color:#00D3D3;}
                                    		        		
/* HEADERS */                                       		
h1															{font-size:21px; color:#00D3D3;}                     		
h2															{font-size:18px; color:#00D3D3;}
h3															{font-size:17px;}
h4, h5, h6													{font-size:10px;}
                                                    		
/* FORM ELEMENTS */                                 		
input														{float:left; padding:5px; font-family:'ff-enzo-web-1', 'ff-enzo-web-2', 'Helvetica', Arial, sans-serif;}
textarea 													{float:left; padding:5px; font-family:'ff-enzo-web-1', 'ff-enzo-web-2', 'Helvetica', Arial, sans-serif;}

input.checkbox 												{float:left; width:15px !important; height:15px !important;}
.checkbox label		 										{margin:4px 0px 0px 8px; padding:0px;}
                                                    		
/* validation */                                    		
label.error													{display:none !important;}
                                                    		
/* MESSAGING */
.alert 														{float:left; padding:5px; color:#FFFFFF;}

/* DIVIDERS */
.pipe 														{float:left; width:1px; background:#D5D5D5; margin:0px 7px;}

/* TESTING */
.todo 														{float:left; color:#FF0000;}
                                          	
/************************************************** MAIN ELEMENT STYLES **************************************************/
                                                    	
/***** SPRITES *****/                               	
.sprite.image					 							{float:left; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}
.sprite.button 												{float:left; background:url('../images/site-sprite.gif') no-repeat 0px 0px; border:none; cursor:pointer;}
                                                    		
/***** BUTTONS *****/
.button 													{}

.button.register			 								{float:right; width:220px; height:30px; background-position:-280px -90px;}
.button.dashboard	 										{float:right; width:150px; height:30px; background-position:-501px -90px;}
.button.login 												{float:right; width:32px; height:12px; margin:0px 1px 0px 0px; background-position:-255px -35px;}
.button.logout	 											{float:right; width:40px; height:12px; background-position:-288px -35px;}

.button.register:hover										{background-position:-280px -126px;}
.button.dashboard:hover 									{background-position:-501px -126px;}

/***** LAYOUT *****/
.page.wrapper 			 									{position:relative; margin:0 auto; width:980px; min-height:100%; background:#FFFFFF; overflow:hidden;}
.page														{margin:0 auto; width:940px; padding:20px 0px; overflow:hidden;}
.page .body													{float:left; width:100%; margin:20px 0px 32px 0px;}
                                                    		
/***** HEADER ******/                               		
.header														{}
.header .rule												{float:left; width:100%; height:1px; background:#D5D5D5;}
.header .logo												{width:254px; height:80px; margin:14px 0px 10px 34px;}
.header .wrapper.dashboard									{float:right; margin:3px 0px 0px 0px;}
                                                    		
/* header nav */
.header .nav 												{float:left; margin:4px 0px 3px 0px;}
.header .nav .link 											{float:left; margin:0px 5px 0px 2px;}                        	    	
.header .nav .link a	 									{float:left; width:50px; height:12px; margin:0px 7px 0px 0px; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}

.header .nav .link a.products 								{width:55px; background-position:-255px -24px;}
.header .nav .link a.services 								{width:50px; background-position:-310px -24px;}
.header .nav .link a.downloads								{width:64px; background-position:-360px -24px;}
.header .nav .link a.support 								{width:48px; background-position:-426px -24px;}
.header .nav .link a.about 									{width:36px; background-position:-472px -24px;}
.header .nav .link a.contact 								{width:50px; background-position:-510px -24px;}
                                                    		
.header .nav .link a.products:hover 						{background-position:-255px -12px;}
.header .nav .link a.services:hover 						{background-position:-310px -12px;}
.header .nav .link a.downloads:hover						{background-position:-360px -12px;}
.header .nav .link a.support:hover 							{background-position:-426px -12px;}
.header .nav .link a.about:hover 							{background-position:-472px -12px;}
.header .nav .link a.contact:hover 							{background-position:-510px -12px;}
                                                    		
.header .nav .link a.products.active 						{background-position:-255px 0px;}
.header .nav .link a.services.active 						{background-position:-310px 0px;}
.header .nav .link a.downloads.active						{background-position:-360px 0px;}
.header .nav .link a.support.active							{background-position:-426px 0px;}
.header .nav .link a.about.active 							{background-position:-472px 0px;}
.header .nav .link a.contact.active 						{background-position:-510px 0px;}
                                                    		
/***** FOOTER *****/                                		
.footer 													{position:relative; width:940px; margin:-50px auto 0px; padding:15px 0px; overflow:hidden;}
.footer .rule												{float:left; width:100%; height:1px; background:#D5D5D5;}
                                                        	
/* footer nav */
.footer .nav		 										{margin:6px 0px 0px 2px;}
.footer .nav .link 											{margin:0px 7px 0px 0px;}
.footer .nav .link a 										{float:left; width:50px; height:12px; margin:0px 7px 0px 0px; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}
                               	    	
.footer .nav .link a.index									{height:6px; width:64px; background-position:-255px -49px;}
.footer .nav .link a.feedback								{height:6px; width:70px; background-position:-327px -49px;}
.footer .nav .link a.contact 								{height:6px; width:54px; background-position:-404px -49px;}
.footer .nav .link a.privacy								{height:8px; width:95px; background-position:-465px -49px;}
.footer .nav .link a.tou									{height:6px; width:57px; background-position:-567px -49px;}
                                                    	
/************************************************** PAGES **************************************************/
                                                   	
/***** DIVISE (Register, Login, Password, Contact) *****/                               	
.divise 													{float:left; margin:0; width:100%;}

.divise .header												{float:right; width:621px; margin:20px 0px;}
.divise .header .title										{margin:0px 0px 18px 0px; font-size:35px; color:#4C4C4C;}
.divise .header .message									{font-size:20px;}

.divise .alert 												{float:right; width:615px; margin:18px 0px; font-size:24px; background:#E76262;}

.divise form												{float:right; width:865px;}
.divise form .status										{position:absolute; top:25px; right:10px; width:26px; height:26px; background:url('../images/admin-sprite.png') no-repeat 0px 0px;}
.divise form .status.pass									{background-position:0px -180px;}
.divise form .status.fail									{background-position:0px -152px;}

.divise form .group.form									{float:left; position:relative; width:100%;}
.divise form .group.form label 								{float:left; width:200px; padding:17px 0px; font-size:24px; font-weight:bold; text-align:right;}
.divise form .group.form input								{float:right; width:614px; padding:17px 5px; border:none; border-bottom:1px solid #CACACA; font-size:30px; color:#C9C9C9;}
.divise form .group.form textarea							{float:right; width:614px; padding:17px 5px; border:none; border-bottom:1px solid #CACACA; font-size:30px; color:#C9C9C9;}
.divise form .group.form input.first						{border-top:1px solid #CACACA;}
.divise form .group.form input.error 						{color:#DA3C3C;}

.divise .wrapper.actions 									{float:right; width:624px; margin:14px 0px 0px 0px;}
.divise .wrapper.actions input 								{background:none; border:none; font-size:24px;}
.divise .wrapper.actions .button 							{cursor:pointer;}
.divise .wrapper.actions .submit							{float:left; width:29px; height:28px; margin:0px 8px 0px 0px; padding:0px; background:url('../images/admin-sprite.png') no-repeat -26px -175px;}
.divise .wrapper.actions .submit:hover						{background-position:-26px -147px;}
.divise .wrapper.actions .submit input 						{float:left; padding:0px 0px 0px 32px; color:#0EDF58; cursor:pointer;}
.divise .wrapper.actions .submit:hover input 				{color:#2BCA12;}

.divise .wrapper.actions .wrapper.links 					{float:right; width:200px; font-size:12px;}
.divise .wrapper.actions .wrapper.links .link				{float:right;}
