/************************************************** GLOBAL STYLES **************************************************/

/* BASE */
html, body, div, span, p, ol, ul, li, img,
h1, h2, h3, h4, h5, h6										{margin:0; padding:0;}
                                                    		
/* MAIN PAGE ELEMENTS */                            		
body 														{background:#FFFFFF url('../images/bg-texture.gif') repeat 0px 0px; font-family:'Helvetica', Arial, sans-serif; font-size:12px;}
                                                        	
/* IMAGES */                                            	
img															{border:none;}
                               		                		
/* WRAPPERS */                       		        		
.shifter 													{position:relative;}
.wrapper				 									{}
                                                    		
/* LISTS */                                         		
ul															{float:left; list-style-image:none; list-style-type:none; list-style-position:outside;}
ul li														{float:left;}
                                    		        		
/* LINKS */                           		        		
a															{text-decoration:none; color:#616161;}
a:hover														{text-decoration:none; color:#00D3D3;}
                                    		        		
/* HEADERS */                                       		
h1															{font-size:21px; color:#00D3D3;}                     		
h2															{font-size:18px; color:#00D3D3;}
h3															{font-size:13px;}
h4															{font-size:12px; color:#616161;}
h5															{font-size:11px;}
h6															{font-size:10px;}
                                    		        		
/* PADDERS */                         		        		
                                    		        		
/* TEXT FORMATS */                    		        		
.uppercase			 			    						{text-transform:uppercase;}
.capitalize			 			    						{text-transform:capitalize;}
.lowercase			 			    						{text-transform:lowercase;}
                     			    		        		
.italic				 			    						{font-style:italic;}
.bold				 			    						{font-weight:bold;}
.underline			 			    						{text-decoration:underline;}
                                                    		
/* colors */                                        		
.light-grey-text											{color:#999999;}
.medium-grey-text											{color:#666666;}
.dark-grey-text												{color:#333333;}
                                                        	
.bright-blue-text											{color:#00D3D3;}
                                                    		
/* FORM ELEMENTS */                                 		
form 														{float:left;}
.form-group 												{float:left;}
label 														{float:left;}
input														{float:left; padding:5px; color:#C8C8C8; border:#C8C8C8 solid 1px;}
textarea 													{float:left; padding:5px; color:#C8C8C8; border:#C8C8C8 solid 1px;}
.checkbox-group 											{float:left;}
.checkbox-group label 										{float:left;}
                                                    		
/* TABLES */                                        		
table 														{float:left; width:100%; margin:15px 0px; border-collapse:collapse;}
table th 													{padding:0px 2px; text-align:left;}
.table-header 												{height:25px; outline:none !important; background:#999999; cursor:auto;}
table tr	 												{height:70px; cursor:pointer;}
table tr:hover 												{outline:1px solid #00D3D3;}                                       	
                                                    		
/* VALIDATION */                                    		
                                                    		
/* MESSAGING */                                     		
.message 													{float:left; width:100%; margin:10px 0px 10px 0px; padding:5px; border: 1px solid;}
                                                    		
.success													{}
.notice 													{color:#516C6B; border-color:#516C6B; background-color:#92BFB3;}
.warning 													{color:#DA7f3C; border-color:#DA7f3C; background-color:#FFD5B7;}
.error	 													{color:#DA3C3C; border-color:#DA3C3C; background-color:#FFB7B7;}
                                    		        		
/* SYMBOLS */                         		        		
                                    		        		
/* DIVIDERS */
.page-divide												{float:left; width:100%; height:1px; background:#D5D5D5;}
.pipe 														{float:left; width:1px; background:#D5D5D5; margin:0px 7px;}
                       		                        		
/* OTHER */                           		        		
.hide		 												{display:none;}
.pointer	 												{cursor:pointer;}

.odd 														{float:left; width:100%; background-color:#F6F6F6;}
.even 														{float:left; width:100%; background-color:#FFFFFF;}

/* TESTING */
.todo 														{float:left; color:#FF0000;}
                                                    		
/* ALTERNATE CONTENT */                             		
.alt-content												{}
                                                    	
/************************************************** MAIN ELEMENT STYLES **************************************************/
                                                    	
/***** SPRITES *****/                               	
.site-sprite				 								{float:left; width:100px; height:100px; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}
.site-transparent-sprite			 						{width:100px; height:100px; background:url('../images/transparent-sprite.gif') no-repeat 0px 0px;}
                                                        	
.spotlight-sprite			 								{float:left; width:100px; height:100px; background:url('../images/spotlight-sprite.png') no-repeat 0px 0px;}
.quick-add-sprite			 								{float:left; width:100px; height:100px; background:url('../images/quick-add-sprite.png') no-repeat 0px 0px;}
                                                    		
/***** STATES *****/                                		
.active														{}
.inactive													{}
                                                    		
/***** LINKS *****/                                 		
.link				 										{width:100%; color:#00D3D3; text-decoration:underline; cursor:pointer;}
.active-link 												{color:#00D3D3;}
                                                    		
/***** BUTTONS *****/                               		
.button-bar 												{float:left;}
.button 													{float:left; cursor:pointer; border:none;}
.round 														{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}

.button.close 												{float:right; width:12px; height:12px; background-position:-681px -4px;}
.button.close:hover 										{background-position:-668px -4px;}
                                                        	
.button.sign-up			 									{float:right; width:220px; height:30px; background-position:-280px -90px;}
.button.sign-up:hover										{background-position:-280px -126px;}
                                                        	
.button.admin-panel	 										{float:right; width:150px; height:30px; background-position:-501px -90px;}
.button.admin-panel:hover 									{background-position:-501px -126px;}                                            	
                                                        	
.button.login												{width:91px; height:36px; margin:10px 0px; background-position:0px -86px;}
.button.login:hover											{background-position:0px -123px;}
                                                        	
.button.link-login 											{width:32px; height:12px; margin:0px 1px 0px 0px; background-position:-255px -35px;}
.button.link-logout	 										{width:40px; height:12px; background-position:-288px -35px;}
                                                        	
.button.register											{width:91px; height:36px; margin:10px 0px; background-position:0px -86px;}
.button.register:hover										{background-position:0px -123px;}

/* quick add */
.quick-add.ticker 											{float:left; width:319px; height:111px; margin:10px 0px;}
.quick-add.ticker:hover 									{background-position:0px -112px;}
.quick-add.ticker.active									{background-position:0px -224px;}
                                                        	
/***** LAYOUT *****/                                    	
.page-wrapper 			 									{margin:0 auto; width:980px; background:#FFFFFF; overflow:hidden;}
.page														{margin:0 auto; width:940px; padding:20px 0px;}
.page .body													{float:left; width:100%; margin:20px 0px 18px 0px;}
                                                        	
/***** NAVIGATION *****/                                	
.nav 														{float:left;}
.nav a 														{}
                                                    		
/***** HEADER ******/                               		
.header														{position:relative; float:left; width:100%;}
.header .nav 												{margin:4px 0px 3px 0px;}
.header .nav a												{float:left; width:50px; height:12px; margin:0px 7px 0px 0px; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}
.header .link-divide	 									{width:5px; height:8px; margin:3px 0px 0px 0px; background-position:-567px -21px;}
.header ul li 												{margin:0px 5px 0px 2px;}
.header .logo												{width:254px; height:80px; margin:14px 0px 10px 34px;}
.header .wrapper	 										{float:left; width:100%; margin:25px 0px 0px 0px;}
.header .additional-links									{float:right; margin:3px 0px 0px 0px;}                                        	
.header .search												{float:left; width:174px; margin:1px 0px 0px 0px;}
.header .search .icon										{float:right; width:12px; height:12px; background-position:-573px -20px;}
.header .search input 										{float:left; width:160px; height:12px; padding:0px; border:none; text-transform:uppercase;}
                                                    		
/* header nav */                                   	    	
a#link-products 											{width:55px; background-position:-255px -24px;}
a#link-services 											{width:50px; background-position:-310px -24px;}
a#link-downloads											{width:64px; background-position:-360px -24px;}
a#link-support 												{width:48px; background-position:-426px -24px;}
a#link-about 												{width:36px; background-position:-472px -24px;}
a#link-contact 												{width:50px; background-position:-510px -24px;}
                                                    		
a#link-products:hover 										{background-position:-255px -12px;}
a#link-services:hover 										{background-position:-310px -12px;}
a#link-downloads:hover										{background-position:-360px -12px;}
a#link-support:hover 										{background-position:-426px -12px;}
a#link-about:hover 											{background-position:-474px -12px;}
a#link-contact:hover 										{background-position:-510px -12px;}
                                                    		
a#link-products.active 										{background-position:-255px 0px;}
a#link-services.active 										{background-position:-310px 0px;}
a#link-downloads.active										{background-position:-360px 0px;}
a#link-support.active										{background-position:-426px 0px;}
a#link-about.active 										{background-position:-474px 0px;}
a#link-contact.active 										{background-position:-510px 0px;}
                                                    		
/***** FOOTER *****/                                		
.footer														{float:left; width:100%; margin:0px 0px 25px 0px;}
.footer .wrapper 											{float:left; width:100%;}
.footer .nav		 										{margin:6px 0px 0px 2px;}
.footer .nav a 												{float:left; width:50px; height:12px; margin:0px 7px 0px 0px; background:url('../images/site-sprite.gif') no-repeat 0px 0px;}
.footer ul li 												{margin:0px 7px 0px 0px;}
                                                        	
/* footer nav */                                 	    	
a#link-index												{height:6px; width:64px; background-position:-255px -49px;}
a#link-send-feedback										{height:6px; width:70px; background-position:-327px -49px;}
a#link-contact-us 											{height:6px; width:54px; background-position:-404px -49px;}
a#link-privacy-policy										{height:8px; width:95px; background-position:-465px -49px;}
a#link-terms-of-use											{height:6px; width:57px; background-position:-567px -49px;}
                                                    	
/************************************************** PAGES **************************************************/
                                                    	
/***** INDEX (HOME) *****/                          	
.index.spotlight											{float:left; position:relative;}
                                                    	
/* spotlight */                                     	
.index.spotlight .content									{}
.index.spotlight .window									{position:relative; overflow:hidden; height:392px;}
                                                    	
.index.spotlight #spotlight-left							{position:relative; float:left; width:433px; height:392px; margin:0px 48px 0px 0px;}
.index.spotlight #spotlight-left .controls					{position:absolute; top:10px; right:50px; z-index:1;}
.index.spotlight #spotlight-left .pager						{float:left; width:12px; height:4px; margin:0px 2px; border:4px solid #E3E3E3; background:none; cursor:pointer;}
.index.spotlight #spotlight-left .pager.active				{float:left; background:#E3E3E3;}
.index.spotlight #spotlight-left .image-reel 				{position:absolute; top:0; left:0;}
.index.spotlight #spotlight-left .logo						{margin:95px 106px; width:200px; height:275px;}
.index.spotlight #spotlight-left .logo.chromada 			{background-position:-484px -7px;}
.index.spotlight #spotlight-left .logo.ticker				{background-position:-708px -10px;}
                                                    	
#spotlight-cover 											{position:absolute; top:0px; left:400px; width:40px; height:392px; background-position:-429px 0px;}
                                                    	
.index.spotlight #spotlight-right							{float:left; width:375px;}
.index.spotlight #spotlight-right .content-reel 			{position:absolute; top:0; left:0;}
.index.spotlight #spotlight-right .content-body				{float:left; width:375px; margin:70px 50px 0px 0px;}
.index.spotlight #spotlight-right .content-body p			{color:#1f1f1f; line-height:21px;}
.index.spotlight #spotlight-right .content-body h2			{float:left; width:100%; color:#333333; font-size:32px; font-weight:bold; text-transform:capitalize;}
.index.spotlight #spotlight-right .content-body h3			{float:left; width:100%; margin:15px 0px; color:#C8C8C8; font-size:16px; font-weight:normal; text-transform:capitalize;}
                                                    	
.index.spotlight #spotlight-right .chromada .button			{width:160px; height:36px; margin:45px 0px 0px 0px; background-position:-504px -316px;}
.index.spotlight #spotlight-right .chromada .button:hover	{background-position:-504px -353px;}
.index.spotlight #spotlight-right .ticker .button 			{width:164px; height:36px; margin:45px 0px 0px 0px; background-position:-732px -316px;}
.index.spotlight #spotlight-right .ticker .button:hover		{background-position:-732px -353px;}
                                                    	
/***** ACCOUNT *****/                               	
.account .account-body										{float:left; width:240px; margin:0px 0px 0px 65px;}
.account .icon		 										{float:left; width:181px; height:195px; margin:14px 7px; background-position:-711px 0px;}
.account .additional-links 									{float:left; margin:8px 0px;}
.account .additional-link 									{float:left; width:100%; margin:3px 0px;}
.account .additional-link a 								{color:#00D3D3; text-decoration:underline;}
.account .additional-link a:hover							{text-decoration:none;}
                                                    		
/* LOGIN */                                         		
.account.login 												{margin:113px auto 144px; width:500px; overflow:hidden;}
.account.login .header 										{float:left; width:100%; margin:0px 0px 26px 0px;}
.account.login .title		 								{width:52px; height:21px; background-position:-647px -59px;}
.account.login .body 										{float:right; width:250px;}
.account.login .form-group input							{width:227px; height:18px; margin:0px 0px -1px 0px;}
.account.login .button.login								{margin:15px 0px;}
                                                    		
/* REGISTER */                                      		
.account.register											{margin:113px auto 144px; width:500px; overflow:hidden;}
.account.register .header									{float:left; margin:0px 0px 26px 0px;}
.account.register .title 									{width:235px; height:21px; background-position:-254px -59px;}
.account.register .body 									{float:right; width:250px;}
.account.register .form-group input							{width:227px; height:18px; margin:0px 0px -1px 0px;}
.account.register .button.register							{margin:15px 0px;}