/************************************************** GLOBAL STYLES **************************************************/

/* reset */
body, div, html, p, ol, ul, li						{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6								{float:left; width:100%; margin:0; padding:0;}
img													{float:left; border:none;}

/* MAIN PAGE ELEMENTS */
body 												{background:#FFFFFF; font-family:'Helvetica', Arial, sans-serif; font-size:12px;}
                               		
/* WRAPPERS */                       		
.wrapper				 							{margin:0 auto;}
.page-wrapper 			 							{margin:0 auto; width:960px;}

/* LISTS */
ul													{float:left; list-style-image:none; list-style-type:none; list-style-position:outside;}
ul li												{float:left;}
                                    		
/* LINKS */                           		
a													{text-decoration:none; color:#616161;}
a:hover												{text-decoration:none; color:#00D3D3;}
                                    		
/* HEADERS */    
h1													{font-size:15px; color:#00D3D3;}                     		
h2													{font-size:14px;}
h3													{font-size:13px;}
h4													{font-size:12px; color:#616161;}
h5													{font-size:11px;}
h6													{font-size:10px;}
                                    		
/* PADDERS */                         		
                                    		
/* TEXT FORMATS */                    		
.uppercase			 			    				{text-transform:uppercase;}
.capitalize			 			    				{text-transform:capitalize;}
.lowercase			 			    				{text-transform:lowercase;}
                     			    		
.italic				 			    				{font-style:italic;}
.bold				 			    				{font-weight:bold;}
.underline			 			    				{text-decoration:underline;}

/* colors */
.light-grey-text									{color:#999999;}
.medium-grey-text									{color:#666666;}
.dark-grey-text										{color:#333333;}

.bright-blue-text									{color:#00D3D3;}

/* FORM ELEMENTS */
.form-group 										{float:left; margin:2px 0px;}
.form-label 										{float:left;}
label 												{float:left; width:75px; margin:10px 0px 0px 0px;}
input												{float:left; width:175px; height:20px; color:#C8C8C8; border:#C8C8C8 solid 1px; text-transform:capitalize;}

/* TABLES */
table 												{float:left; width:100%; margin:15px 0px; border-collapse:collapse;}
table th 											{text-align:left;}
#table-header 										{border:none;}
table tr.even 										{background:#FFFFFF;}
table tr.odd 										{background:#F7F6F6;}
table tr:hover 										{border:1px solid #00D3D3;}
table td 											{padding:15px 0px;}

/* VALIDATION */

/* MESSAGING */
.message 											{float:left; width: 100%; margin:10px 0px 10px 0px; padding:5px; border: 1px solid;}

.success											{}
.notice 											{color:#516C6B; border-color:#516C6B; background-color:#92BFB3;}
.warning 											{color:#DA7f3C; border-color:#DA7f3C; background-color:#FFD5B7;}
.error	 											{color:#DA3C3C; border-color:#DA3C3C; background-color:#FFB7B7;}
                                    		
/* SYMBOLS */                         		
.copyright											{}
                                    		
/* DIVIDERS */                        		

                       		
/* OTHER */                           		
.no-display 										{display:none;}
.inactive											{color:#999999;}
.hand-cursor 										{cursor:pointer;}

/* ALTERNATE CONTENT */
.flash-alt-content									{float:left; width:100%;}

/************************************************** MAIN ELEMENT STYLES **************************************************/

.active-link 										{color:#00D3D3;}
.site-image 										{float:left; width:100px; height:100px; background:url('../images/site-sprite.jpg') no-repeat 0px 0px;}
.site-link			 								{float:left; color:#00D3D3; text-decoration:underline;}
.main-divider										{width:100%; height:5px; margin:2px 0px; background-position:0px -176px;}

/***** NAVIGATION *****/
#primary-nav										{float:left; color:#666666; font-size:10px; margin:0px 300px 0px 0px; text-transform:uppercase;}
#secondary-nav										{float:left; width:100%; color:#666666; font-size:8px;}

/***** MAIN PAGE *****/
.page												{float:left;}
#page-body-wrapper 									{margin:0px auto; width:805px;}
.page-body											{min-height:215px;}

/***** header ******/
#header												{position:relative; float:left; width:100%;}
#header ul li 										{margin:0px 5px;}
#logo												{width:225px; height:72px; margin:25px 0px; background-position:-163px 0px;}

/* account */
#account-login-wrapper								{float:left; width:260px;}
#account-login										{position:absolute; top:-122px; right:20px; width:260px;}
.btn-site-login 									{background:000000; color:#00D3D3; text-transform:uppercase;}
#account-login-new-user 							{float:left; width:255px; height:23px; background-position:-168px -73px;}

/* search */
#site-search										{position:absolute; top:-12px; right:36px;}
#site-search-icon									{position:absolute; top:3px; right:5px; width:18px; height:18px; background-position:-560px -155px;}
#site-search input 									{float:left; padding:0px 2px;}

/***** footer *****/
#footer												{float:left; width:100%; margin:0px 0px 25px 0px;}
#footer ul li 										{margin:0px 5px;}

/************************************************** PAGES **************************************************/

/* index (home) */
#index-page-body									{float:left; margin:75px 0px;}
#spotlight											{float:left;}
.spotlight-content 									{float:left; margin:0px 50px;}

#spotlight-left										{float:left; width:165px;}
#spotlight-image									{margin:0 auto; width:165px; height:176px;}

#spotlight-right									{float:left; width:436px;}
#spotlight-body										{margin:0 auto; width:100%;}
#spotlight-body p									{line-height:20px; color:#666666;}
#spotlight-header									{float:left; width:100%; color:#333333; font-size:32px; font-weight:bold; text-transform:capitalize;}
#spotlight-sub-header								{float:left; width:100%; margin:15px 0px; color:#C8C8C8; font-size:16px; text-transform:capitalize;}
#take-a-tour										{float:left; width:100%; margin:15px 0px; color:#00D3D3; font-size:16px; font-weight:bold; text-transform:capitalize;}
#take-a-tour:hover									{text-decoration:underline;}

#account-login-returning-user h4 					{float:left; width:100%; margin:8px 0px;}
#account-login-returning-user span 					{float:left;}
#account-login-returning-user input 				{float:left; width:135px; padding:0px 2px;}