<div id="register" class="section title">
	<h3 class="heading">registration</h3>
</div>
<div class="section wrapper registration">
	<h2>Thanks for registering with us. Just fill out the form below, you're only seconds from enjoying business productivity.</h2>
	
	<div class="section column">
		<h4 class="heading">registration form</h4>
		<form id="registration-form" method="post" action="/register">
			<label>Email</label>
			<input type="text" name="user[name]"/>
			
			<label>Password</label>
			<input type="password" name="user[password]"/>
			
			<input type="submit" value="SUBMIT" class="button" />
		</form>
	</div>
	<div class="section column">
		<h4 class="heading">a little about us</h4>
		<p>Chromada was created in response to all the out-dated, over-priced, and stagnant business management solutions that currently dominate the workplace. We believe a better way exists. We also think others will agree!</p>
	</div>
	<div class="section column last">
		<h4 class="heading">boring legal stuff</h4>
		<p>By registering you are agreeing to our <a href="terms-of-use">Terms of Use</a> and <a href="privacy-policy">Privacy Policy</a>.</p>
	</div>
</div>