<div class='main-divider'></div>

<div id='footer'>
	<!-- SECONDARY NAV -->
	<div id='bottom-nav'>
		<ul>
			<li><span class='bright-blue-text'>chromada</span> <span class='light-grey-text'>inc</span> :</li>
			<li><%= link_to "send-feedback :", 		send_feedback_url, 		:class => (@active == 'send-feedback') 	? 'active-link' : '' %></li>
			<li><%= link_to "contact :", 			contact_url, 			:class => (@active == 'contact') 		? 'active-link' : '' %></li>
			<li><%= link_to "privacy-policy :", 	privacy_policy_url, 	:class => (@active == 'privacy-policy') ? 'active-link' : '' %></li>
			<li><%= link_to "terms-of-use :", 		terms_of_use_url,		:class => (@active == 'terms-of-use') 	? 'active-link' : '' %></li>
		</ul>
	</div>
</div>