<div class='messaging'>
	<span class='messaging-close'></span>
	<div class='message success'>
		<span class='icon'></span>
		<div class='message-block'>
			<h2 class='header'>Success</h2>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie.</p>
		</div>
	</div>
	
	<div class='message warning'>
		<span class='icon'></span>
		<div class='message-block'>
			<h2 class='header'>Warning</h2>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie.</p>
		</div>
	</div>
	
	<div class='message failure'>
		<span class='icon'></span>
		<div class='message-block'>
			<h2 class='header'>Failure</h2>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie.</p>
		</div>
	</div>
	
	<div class='message error'>
		<span class='icon'></span>
		<div class='message-block'>
			<h2 class='header'>Error</h2>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie.</p>
		</div>
	</div>
	
	<div class='message notice'>
		<div class='message-block'>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie.</p>
		</div>
	</div>
</div>