<div class='messaging'>
	<div class='message success'>
		<span class='icon'></span>
		<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
		<span class='close'></span>
	</div>
	
	<div class='message failure'>
		<span class='icon'></span>
		<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
		<span class='close'></span>
	</div>
</div>
