<div class='messaging'>
	<div class='message success failure notice error warning'>
		<span class='icon'>X</span>
		<div class='message-block'>
			<h2 class='header'>Messaging Header</h2>
			<p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum sodales molestie. Nunc ac massa est, id sagittis enim. Phasellus ornare tellus commodo nisi rutrum imperdiet. Nam ac velit arcu. Nullam ligula enim, euismod in luctus non, luctus quis neque.</p>
		</div>
	</div>
</div>