
<script type="text/javascript">
	//<![CDATA[
		//(function(){document.write(unescape('%3Cscript src=%27' + (document.location.protocol == 'https:' ? "https:" : "http:") + '//static.olark.com/js/wc.js%27 type=%27text/javascript%27%3E%3C/script%3E'));})();
	//]]>
</script>

<!--
<div id="olark-data">
	<a class="olark-key" id="olark-1711-698-10-7416" title="Powered by Olark" href="http://olark.com/about" rel="nofollow">Powered by Olark</a>
</div>
-->

<script type="text/javascript">
	//<![CDATA[
		//wc_init();
	//]]>
</script>

	
<!--OLARK LINK -->
	<!-- <br/>Chat Powered by <a href='http://www.olark.com' target='_blank'>Olark Live Sales Chat</a> -->
<!-- END OLARK LINK -->

<script type='text/javascript'>
	//<![CDATA[
		/*
		var $box = null;
	
		olark.extend(function(api)
		{
			$box = api.box;
	
			$box.shrink();
			var isExpanded = false;
			var isAttached = true;
	
			api.chat.onReady(function()
			{
				var olark 			= $('.habla_window_div_base');
				var ref 			= $(".content-body").offset();  
				var ref_width 		= $(".content-body").width();
	
				var pos_mod 		= 10;
				var pos_top			= 55;
				var dpos_top 		= 10;

				$('#habla_closebutton_a').html('');
				$('#habla_oplink_a').html('');

				if($(window).scrollTop() != 0)
				{
					olark.css({ "position": "fixed", "left": '', "right": 10 + "px", "top": dpos_top + "px", "bottom": "" });
				}else{
					olark.css({ "left": ((ref.left + ref_width) - olark.width() - pos_mod) + "px", "top": pos_top });
				}
	
				$(window).resize(function(){
					ref 			= $(".content-body").offset();  
					ref_width 		= $(".content-body").width();
	
					if(isAttached)
					{
						olark.css({ "left": ((ref.left + ref_width) - olark.width() - pos_mod) + "px", "top": pos_top });
					}else{
						olark.css({ "position": "fixed", "left": '', "right": 10 + "px", "top": dpos_top + "px", "bottom": "" });
					}
				});
	
				$(window).scroll(function(){
					if($(window).scrollTop() > 150)
					{
						if(isAttached)
						{
							olark.css({ "display": "none"});
							olark.fadeIn(250);
	
							isAttached = false;
						}
						
						olark.css({ "position": "fixed", "left": '', "right": 10 + "px", "top": dpos_top + "px", "bottom": "" });
					}else{
						if(!isAttached)
						{
							olark.css({ "display": "none"});
							olark.fadeIn(500);
							
							isAttached = true;
						}
						
						olark.css({ "position": "absolute", "left": ((ref.left + ref_width) - olark.width() - pos_mod) + "px", "top": pos_top });
					}
				});
	
				if(api.chat.operatorsAreAvailable())
				{
					$('#habla_compressed_div').css({ "background-position": "-12px -179px"});
				}else{
					$('#habla_compressed_div').css({ "background-position": "-396px -179px"});
				}
	
				api.box.onExpand(function()
				{
					olark.width(287);
					olark.height(265);
					$('#habla_both_div').css({"margin-right": 24});
					$('#habla_oplink_a').css({ "display": "inline"});
					$('#habla_closebutton_a').css({ "display": "inline"});
	
					if(isAttached)
					{
						olark.css({ "position": "absolute", "left": ((ref.left + ref_width) - olark.width() - pos_mod)});
					}
	
					isExpanded = true;
				});
				
				api.box.onShrink(function()
				{
					olark.width(120);
					olark.height(100);
					$('#habla_both_div').css({"margin-right": 0});
					$('#habla_oplink_a').css({ "display": "none"});
					$('#habla_closebutton_a').css({ "display": "none"});
	
					if(isAttached)
					{
						olark.css({ "position": "absolute", "left": ((ref.left + ref_width) - olark.width() - pos_mod)});
					}
	
					isExpanded = false;
				});
	
				$('#habla_panel_div').click(openChat);
		    });
		});
		
		function openChat()
		{
			$box.expand();
		}
		*/
	//]]>
</script>
	