<div class="section chromada wrapper">
	<img src="images/site/home-1.jpg" width="770" height="368" class="banner" />
	<h2 class="headline">Welcome to Chromada. We design and build web based software to keep your business organized, efficient, and profitable.</h2>
</div>

<div id="products" class="section title">
	<h3 class="heading">our products</h3>
</div>
<div class="section wrapper products">
	<img src="images/site/products-1.jpg" width="770" height="443" class="banner"/>
	<h2>Ticker is a simple web-based punch clock with a very powerful administrator tool set. Manage employees from anywhere, anytime.</h2>
	<div class="section column last">
		<h4 class="heading">overview</h4>
		<ul class="disc">
			<li>$5 per employee, per month</li>
			<li>Full administration panel access</li>
			<li>Add users/permissions in admin panel</li>
			<li>Automatic backup online or offline</li>
			<li>Free unlimited scaling</li>
			<li>No commitments, cancel whenever</li>
			<li>Insanely simple!</li>
		</ul>
	</div>
</div>

<div id="how-it-works" class="section title">
	<h3 class="heading">how it works</h3>
</div>
<div class="section wrapper how-it-works">
	<img src="images/site/howitworks-1.jpg" width="770" height="286" class="banner" />
	<h2>All of our products revolve around and communicate through Chromada via web-based infrastructures. Result: simple and secure software.</h2>
	<div class="section column first">
		<h4 class="heading">web-based</h4>
		<p>Chromada is built around a centralized web infrastructure. The benefits of this are unparalleled. You don’t need to worry about data backup. Security is no longer an issue; all data is 100% secure. Most importantly, a constant web connection is not required. All data is saved temporarily, and then automatically copied onto the web infrastructure the next moment your internet is available.</p>
	</div>
	<div class="section column">
		<h4 class="heading">administrate</h4>
		<p>Chromada’s administration panel is your hub to control your Chromada products. From here you have the ability to add/remove additional administrators, edit employees and all associated data. You have the power to create roles and permissions in order to grant different levels of control to your team of administrators. It works just like your business; delegation from the top down.</p>
	</div>
	<div class="section column last">
		<h4 class="heading">cross-platform</h4>
		<p>Our goal is to give you access to oversee your company whenever you want. Any device that has an internet connection makes this possible. Even your phone can become your destination for company management (coming soon). Our products and the administration interface are designed to save you time and money, letting you focus on more important business related tasks.</p>
	</div>
</div>

<div id="contact-us" class="section title">
	<h3 class="heading">contact us</h3>
</div>
<div class="section wrapper contact">
	<h2>Thanks for visiting. We love what we do and want to continually improve. Please send any feedback or ideas that you have to make a good product better.</h2>
	<div class="section column first">
		<h4 class="heading">send us your thoughts</h4>
		<form method="post" action="contact">
			<label>Name (Optional)</label>
			<input type="text" name="contact[name]"/>
			
			<label>Message</label>
			<textarea name="contact[message]">
			</textarea>
			
			<input type="submit" value="SUBMIT" class="button" />
		</form>
	</div>
	<div class="section column last">
		<h4 class="heading">a little about us</h4>
		<p>Chromada was created in response to all the out-dated, over-priced, and stagnant business management solutions that currently dominate the workplace. We believe a better way exists. We also think others will agree!</p>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
	
	//]]>
</script>