<div class='divise contact'>
	
	<div class='site-sprite icon'><span class='hide'>chromada</span></div>
	
	<div class='body'>
		<div class='header'>
			<h1 class='site-sprite title'><span class='hide'>Contact Us</span></h1>
		</div>
		
		<p class='content'>We would love to hear from you. Just fill out the form below and leave us a message so we can get back to you!</p>
		
		<form>
			<div class='form-group'>
				<input type='text' for='name' class='name required' value='name' />
				<input type='text' for='email' class='email required' value='email address' />
				<textarea>message</textarea>
			</div>
			
			<input type='submit' class='button submit' value='submit'/>
		</form>
		
		<div class='additional-links'>
			<span class='additional-link'>New? <%= link_to "Sign up", :class => 'site-link' %></span>
			<span class='additional-link'>Already Registered? <%= link_to "Login Here" %></span>
		</div>
		
	</div>
</div>