
<div class="divise contact">
	
	<div class="header">
		<h2 class="title">Contact Us</h2>
		<p class="message">We love to hearing from you. Just fill out the form below and leave us a message and we'll get back as soon as possible!</p>
	</div>
	
	<form>	
		<div class="group form">
			<label>Name</label>
			<input type='text' for='' name='' class='first required name defaultInvalid' /><span class='status pass'></span>
		</div>
		<div class="group form">
			<label>Email</label>
			<input type='text' for='' name='' class='email' /><span class='status pass'></span>
		</div>
		<div class="group form">
			<label>Message</label>
			<textarea class='required defaultInvalid' ></textarea>
		</div>
		
		<div class="alert" style="display:none;">
			<%= flash[:alert] %>
		</div>
		
		<div class="wrapper actions">
			<span class="sprite button submit"><input type="submit" value="Submit"/></span>
			<span class="sprite button cancel"><input type="submit" value="Cancel"/></span>
		</div>
	</form>
</div>

<script type="text/javascript">
	//<![CDATA[
		jQuery.validator.addMethod("defaultInvalid", function(value, element) {
		   return value != element.defaultValue;
		}, "");
		
		// Autofocus on the name input field
		$(".name").focus();
		
		$("#contact").validate();
		$("#contact").submit(function(form)
		{	
			if($("#contact").valid())
			{
				form.submit();
			};
		});
	//]]>
</script>