<!--
<div class='divise contact'>
	
	<div class='site-sprite icon'><span class='hide'>chromada</span></div>
	
	<div class='body'>
		<div class='header'>
			<h1 class='site-sprite title'><span class='hide'>Contact Us</span></h1>
		</div>
		
		<p class='content'>We would love to hear from you. Just fill out the form below and leave us a message so we can get back to you!</p>
		
		<form id='contact'>
			<div class='form-group'>
				<input type='text' class='required name defaultInvalid' value='name' onFocus='this.value = ""' onBlur='if(this.value == "") this.value = this.defaultValue;'/>
				<input type='email' class='required email defaultInvalid' value='email' onFocus='this.value = ""' onBlur='if(this.value == "") this.value = this.defaultValue;'/>
				<textarea class='required defaultInvalid' onFocus='this.value = ""' onBlur='if(this.value == "") this.value = "message"'>message</textarea>
			</div>
			
			<div class='alert'>
				<%= flash[:alert] %>
			</div>
			
			<input type='submit' class='button submit' value='submit'/>
		</form>
		
		<div class='additional-links'>
			<span class='additional-link'>New? <%= link_to "Register Here", new_user_registration_url, :class => 'site-link' %></span>
			<span class='additional-link'>Already Registered? <%= link_to "Login Here", new_user_session_url %></span>
		</div>
		
	</div>
</div>
-->

<div class='divise contact'>
	
	<div class="header">
		<h2 class='title'>Contact Us</h2>
		<p>We would love to hear from you. Just fill out the form below and leave us a message so we can get back to you!</p>
	</div>
	
	<form>	
		<div class="form-group">
			<label>Name</label>
			<input type='text' for='' name='' class='first required name defaultInvalid' /><span class='status pass'></span>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type='text' for='' name='' class='email' /><span class='status pass'></span>
		</div>
		<div class="form-group">
			<label>Message</label>
			<textarea class='required defaultInvalid' ></textarea>
		</div>
		
		<div class='alert'>
			<%= flash[:alert] %>
		</div>
		
		<div class="action-bar">
			<span class="submit"></span>
		</div>
	</form>
</div>

<script type="text/javascript">
	//<![CDATA[
		jQuery.validator.addMethod("defaultInvalid", function(value, element) {
		   return value != element.defaultValue;
		}, "");
		
		// Autofocus on the name input field
		$(".name").focus();
		
		$("#contact").validate();
		$('#contact').submit(function(form)
		{	
			if($("#contact").valid())
			{
				form.submit();
			};
		});
	//]]>
</script>