
<div class='index'>
	<div class="spotlight product ticker">
		<div class="wrapper banner">
			<img class="banner" src="images/spotlight/ticker.gif" width="944" height="615" alt="" title="" />
			<span class="sprite button trial"></span>
		</div>
		
		<h2>We think Ticker speaks for itself.</h2>
		<div class="column">
			<%= link_to(image_tag("spotlight/feature_1.jpg", {:alt => "", :title => "", :onmouseover => "this.src='images/spotlight/feature_hover_1.jpg'", :onmouseout => "this.src='images/spotlight/feature_1.jpg'"}), pricing_url) %>
			<%= link_to(image_tag("spotlight/feature_2.jpg", {:alt => "", :title => "", :onmouseover => "this.src='images/spotlight/feature_hover_2.jpg'", :onmouseout => "this.src='images/spotlight/feature_2.jpg'"}), how_url) %>
		</div>
		<div class="column">
			<p>Simple tasks are often the most time consuming, unorganized, and unmeasured details of a business. Ticker offers intuitive web-based, mobile, and desktop tools to give you an unprecedented level of control of your business.</p>
			<p><span class="title">Simplicity</span>The beauty of Ticker is how simple it is to use. All your employees need to do is clock in and out. We take care of boring stuff like system backup, and compiling time punch summary info.</p>
			<p><span class="title">Access Online or Offline</span>Ticker is web based. However, an internet connection is not necessary to use Ticker. How? Ticker is built into an air application that stores all information internally and then uploads any new data the next time you connect to the internet.</p>
			<p><span class="title">Print/Export</span>Ah the frustrations of file exporting. We aim to change that. All printed files are automatically formatted to 8.5 x 11. If you need to export work to another program we use .AAA, a widely supported format.</p>
		</div>
		<div class="column last">
			<p><span class="title">Administration Panel</span>What if someone enters an incorrect punch? The Administration Panel gives you full access to all current and past pay period info to quickly add/remove/edit anything you see fit.</p>
			<p><span class="title">And Much More</span>See <%= link_to "How It Works", how_url %> to learn about other features and benefits of Ticker. So why not give Ticker a try? Registration is fast, easy, and free. Sign up now to  try Ticker free for 30 days, no commitments. Give it a shot; we believe Ticker speaks for itself.</p>
			<span class="sprite button trial"></span>
		</div>
	</div>
	
	<div class="body">
		
	</div>
</div>

<script type='text/javascript'>
	//<![CDATA[
	
	//]]>
</script>