
<div class="pricing product ticker">
	<div class="wrapper banner">
		<%= image_tag "pricing/ticker.gif", :alt => "Ticker - $5 per employee/month", :title => "Ticker is only $5 per employee/month!", :size => "625x196" %>
	</div>
	
	<div class="rule"></div>
	<div class="wrapper callout">
		<h2>Start free for 30 days now!</h2>
		<%= link_to "", new_user_registration_url, :title => "Register and download a free 30 day trial of Ticker", :class => "sprite button trial" %>
	</div>
	<div class="rule"></div>
	
	<div class="wrapper content">
		<div class="column">
			<p><span class="title">Features and benefits</span>With Ticker, you can enjoy an incredibly simple interface with everything you need, and nothing you don’t. Don’t worry anymore about losing your data, everything entered into Ticker is saved whether or not you have an internet connection.</p>
			<p>The admin panel has robust search and edit features to help you find and edit information quickly and easily.</p>
		</div>
		<div class="column last">
			<p><span class="title">Pricing</span>- $5 per employee, per month. That’s it!</p>
			<p><span class="title">Whats included in your account</span>
				<ul>
					<li>- Free 30 Day trial</li>
					<li>- Free ticker application</li>
					<li>- Free administration panel access</li>
					<li>- Free instant unlimited data backup</li>
					<li>- Free managing of unlimited companies</li>
					<li>- Free unlimited number of administrators</li>
				</ul>
			</p>
		</div>
	</div>
</div>