
<div class="pricing product ticker">
	<div class="wrapper banner">
		<img class="banner" src="images/pricing/ticker.gif" width="625" height="196" alt="" title="" />
	</div>
	
	<div class="rule"></div>
	<div class="wrapper callout">
		<h2>Start free for 30 days now!</h2>
		<span class="sprite button trial"></span>
	</div>
	<div class="rule"></div>
	
	<div class="wrapper content">
		<div class="column">
			<p><span class="title">Features and benefits</span>With Ticker, you can enjoy an incredibly simple interface with everything you need, and nothing you don’t. Don’t worry anymore about losing your data, everything entered into Ticker is saved whether or not you have an internet connection.</p>
			<p>The admin panel has robust search and edit features to help you find and edit information quickly and easily.</p>
		</div>
		<div class="column">
			<p><span class="title">Pricing</span>- $5 per employee, per month. That’s it!</p>
			<p><span class="title">Whats included in your account</span>
				<ul>
					<li>- 30 Day free trial</li>
					<li>- Ticker application, free</li>
					<li>- Administration panel access, free</li>
					<li>- Instant unlimited data backup, free</li>
					<li>- Add unlimited companies, free</li>
					<li>- Invite unlimited company administrators, free</li>
				</ul>
			</p>
		</div>
	</div>
</div>