<div class='product'>
	<div class='product-introduction'>
		<img title='' src='../images/Product Features/Ticker/Ticker_Introduction.jpg' alt='' width=950 height=611 />
	</div>
	
	<div class='product-feature'>
		<img title='' src='../images/Product Features/Ticker/Ticker.jpg' alt='' width=176 height=298 class='float-left' />
		<div class ='feature-description float-right'>
			<h2 class='heading'>Simple Interface for desktop or mobile.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisi, dapibus vel blandit nec, vehicula non sem. Ut a orci eu neque fringilla dictum. Nunc magna purus, ultricies ut pretium in, placerat a quam. Vestibulum erat quam, pellentesque ac condimentum at, faucibus vel quam. Duis non dolor eget leo faucibus elementum. Donec sed lacus nisi, tincidunt cursus ante. Sed viverra interdum mi sed tempor. Praesent suscipit lacus sit amet lacus facilisis eu elementum libero egestas.</p>
		</div>
	</div>
	
	<span class='rule'></span>
	
	<div class='product-feature'>
		<div class ='feature-description float-left overlay'>
			<h2 class='heading'>Access employee info through our admin interface, also for desktop and mobile.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisi, dapibus vel blandit nec, vehicula non sem. Ut a orci eu neque fringilla dictum. Nunc magna purus, ultricies ut pretium in, placerat a quam. Vestibulum erat quam, pellentesque ac condimentum at, faucibus vel quam. Duis non dolor eget leo faucibus elementum. Donec sed lacus nisi, tincidunt cursus ante. Sed viverra interdum mi sed tempor. Praesent suscipit lacus sit amet lacus facilisis eu elementum libero egestas.</p>
		</div>
		<img title='' src='../images/Product Features/Ticker/Ticker_Admin.jpg' alt='' width=490 height=430 class='float-right' />
	</div>
	
	<span class='rule'></span>
	
	<div class='product-feature'>
		<img title='' src='../images/Product Features/Ticker/Ticker_Orbit.jpg' alt='' width=401 height=499 class='float-left'/>
		<div class ='feature-description float-right'>
			<h2 class='heading'>Every Chromada product works together in harmony.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisi, dapibus vel blandit nec, vehicula non sem. Ut a orci eu neque fringilla dictum. Nunc magna purus, ultricies ut pretium in, placerat a quam. Vestibulum erat quam, pellentesque ac condimentum at, faucibus vel quam. Duis non dolor eget leo faucibus elementum. Donec sed lacus nisi, tincidunt cursus ante. Sed viverra interdum mi sed tempor. Praesent suscipit lacus sit amet lacus facilisis eu elementum libero egestas.</p>
		</div>
	</div>
	
	<span class='rule'></span>
	
	<div class='product-feature'>
		<div class ='feature-description float-left overlay'>
			<h2 class='heading'>Access employee info through our admin interface, also for desktop and mobile.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisi, dapibus vel blandit nec, vehicula non sem. Ut a orci eu neque fringilla dictum. Nunc magna purus, ultricies ut pretium in, placerat a quam. Vestibulum erat quam, pellentesque ac condimentum at, faucibus vel quam. Duis non dolor eget leo faucibus elementum. Donec sed lacus nisi, tincidunt cursus ante. Sed viverra interdum mi sed tempor. Praesent suscipit lacus sit amet lacus facilisis eu elementum libero egestas.</p>
		</div>
		<img title='' src='../images/Product Features/Ticker/Ticker_Admin.jpg' alt='' width=490 height=430 class='float-right' />
	</div>
	
	<span class='rule'></span>
	
	<div class='product-feature'>
		<div class ='feature-description float-left overlay'>
			<h2 class='heading'>Help is always one click away</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum arcu nisi, dapibus vel blandit nec, vehicula non sem. Ut a orci eu neque fringilla dictum. Nunc magna purus, ultricies ut pretium in, placerat a quam. Vestibulum erat quam, pellentesque ac condimentum at, faucibus vel quam. Duis non dolor eget leo faucibus elementum. Donec sed lacus nisi, tincidunt cursus ante. Sed viverra interdum mi sed tempor. Praesent suscipit lacus sit amet lacus facilisis eu elementum libero egestas.</p>
		</div>
		<img title='' src='../images/Product Features/Ticker/Ticker_Help.jpg' alt='' width=441 height=404 class='float-right' />
	</div>
	
	<span class='rule'></span>
	
	<div class='product-feature download'>
		<h2 class='heading'>Download the free trial.</h2>
		<p>Starting is easy. Click the link to start downloading a small file, and take a look around for yourself. We're pretty convinced you'll like what you find.</p>
		<a href='#link' class='button download'></a>
	</div>
</div>