<form class='add-role'>
	
	<div class='button-bar'>
		<div id='controls'>
			<div class='admin-button save' onclick="save()"></div>
			<div class='admin-button cancel' onclick="cancel()"></div>
			<div class='admin-button delete' onclick="destroy()"></div>
		</div>
	</div>
	
	<%= text_field '', :class => '', :name => 'role[name]', :value => 'Name This Role', :onfocus => 'if(this.value=="Name This Role")value=""', :onblur => 'if(this.value=="")this.value="Name This Role"' %>
	<input type="hidden" name="role[action_ids]" id="role_action_ids" value="<%= @role.action_ids.join(",") %>">
		
	<div class="role-actions">
		<ul>
			<% action_tree.each do |key, node| %>
				<%= build_action_list_item(key, node) %>
			<% end %>
		</ul>
	</div>
	
</form>

<script type='text/javascript'>
	$(document).ready(function () {
		initActionState()
		colorActionTree()
		addActionClickEvent()
		addParentActionClickEvent()
	})

	function colorActionTree () {
		count = 0
		$(".checkbox-group").each(function () {
			if (count % 2 != 0){
				$(this).addClass('odd')
			} else {
				$(this).addClass('even')
			}
			count++
		})
	}
	
	function initActionState () {
		ids = $('#role_action_ids').val().split(',')
		$.each(ids, function(key, value) {
			$('#action_' + value).attr('checked', true)
		})
		
	}
	
	function addActionClickEvent () {
		$(".role-actions input:checkbox").each(function (){
			$(this).change(updateCheckedActions)
		})
	}
	
	function addParentActionClickEvent () {
		$(".role-actions input:checkbox.parent").each(function (){
			$(this).change(function () {
				var checked = $(this).attr('checked')
				$(this).parent().find('ul li input:checkbox').each(function () {
					$(this).attr('checked', checked)
				})
				updateCheckedActions()
			})
		})
	}
	
	function updateCheckedActions () {
		ids = new Array()
		$(".role-actions input:checkbox:checked").each(function () {
			if (this.name != '') {
				ids.push(this.name.replace(/action_/, ''))
			}
		})
		$('#role_action_ids').val(ids.toString())
	}

	// $('.rolename').keyup(function () {
	// 	var value = $(this).val();
	// 	$('.role-name').text(value);
	// }).keyup();
</script>