<div id='acl-controls'>
	<div id='btn-save' class='admin-btn' onclick="save()"></div>
	<div id='btn-delete' class='admin-btn' onclick="destroy()"></div>
</div>

<div id='acl-rolls-list'>
	<div id='acl-rolls'>
		<ul>
			<li><span class='checkbox-text'>Employee Role 1</span></li>
			<li><span class='checkbox-text'>Employee Role 2</span></li>
			<li><span class='checkbox-text'>Employee Role 3</span></li>
			<li><span class='checkbox-text'>Employee Role 4</span></li>
			<li><span class='checkbox-text'>Employee Role 5</span></li>
			<li><span class='checkbox-text'>Employee Role 6</span></li>
		</ul>
	</div>
</div>

<div id='acl-assignment'>
	<h2>Assign Actions to Role 1</h2>
	<form id='acl-assignment-form'>
		<div class='acl-assignment-group'>
			<ul>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 1</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 2</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 3</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 4</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 5</span></li>
				<li><input type="checkbox" name="" /><span class='checkbox-text'>Role 6</span></li>
			</ul>
		</div>
	</form>
</div>