<% content_for :left do %>
	<%= render :partial => 'admin/companies/menu' %>
<% end %>

<%= simple_list(:role, @roles, {:column => "name", :label => :permission}) %>
<!--
<div class='content company'>
	<ul class='list permissions'>
		<li class='search' title='Search Permissions List'><input value='Search Permissions'/><%= render :partial => 'admin/shared/actions_bar' %></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 1<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 2<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 3<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 4<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 5<span class='removable arrow'></span></a></li>
		<li><a href='#link' title='Edit This Role'><span class='' title=''></span>Permission 6<span class='removable arrow'></span></a></li>
		<li><a href='#link' class='more' title='Show [Number] Permissions'><span class='arrow'></span>Show [Number] More Permissions</a></li>
	</ul>
</div>
-->