<div class='company content'>
	<h2>Edit <%= @company.name %> Roles</h2>
	
	<div class='toolbar'>
		<%= link_to "+ New Role", new_admin_company_role_url(@company), :class => 'new' %>
		<span class='search'><%= text_field '', :class => '', :name => '', :value => 'search' %></span>
	</div>
	
	<div class='edit-roles'>
		<ul>
			<li><a href='#link'>Role 1<span class='list-image delete'></a></li>
			<li><a href='#link'>Role 2<span class='list-image delete'></a></li>
			<li><a href='#link'>Role 3<span class='list-image delete'></a></li>
			<li><a href='#link'>Role 4<span class='list-image delete'></a></li>
			<li><a href='#link'>Role 5<span class='list-image delete'></a></li>
		</ul>
		
		<ul>
			<% @roles.each do |role| %>
				<li><%= link_to role.name, edit_admin_company_role_url(@company, @role) %></li>
			<% end %>
		</ul>
	</div>
</div>
