<% content_for :left do %>
	<%= render :partial => 'admin/shared/menu' %>
<% end %>

<div class='content dashboard'>
	<ul class='dashboard'>
		<li>
			<h3 class='heading'>active products</h3>
		</li>
		
		<li>
			<h3 class='heading'>available products</h3>
		</li>
		
		<li>
			<h3 class='heading'>employee id</h3>
		</li>
		
		<li>
			<h3 class='heading'>need some help?</h3>
		</li>
		
		<li>
			<h3 class='heading'>send feedback</h3>
			<textarea>
			</textarea>
			<a href='#link' title='Submit' class='admin-button submit'><span>Submit</span></a>
		</li>
	</ul>
</div>
