<p>Thank you for registering with Chromada. Since this is your first time you have a few things you can do from here. You can either create a new company now and begin managing it, and your employees, with any of the terrific Chromada products. Or you can just wait until you get invited to manage on another project.</p>
<%= link_to "add a new company", new_admin_company_url, :class => "add last", :title => "Add New [element]" %>
<%= link_to "wait to get invited as a manager", root_url, :class => "add last", :title => "Add New [element]" %>