
<div class='actionsbar'>
	<span class='todo'>combine all actions into here and just check what actions each area has?</span>
	<%= form.submit '', :class => 'admin-button save'%>
	<%= link_to '', url_for(:back), :class => 'admin-button cancel' %>
	<% if (!record.new_record?) %>
		<%= button_to '', [:admin, @company, record], :class => 'admin-button delete', :method => :delete %>
	<% end %>
</div>
