
<div class='actions-bar'>
	<a href='#link' title='Add New Employee' class='admin-sprite add'></a>
	<a href='#link' title='Enables Employee Removal' class='admin-sprite remove' onclick='toggleRemove()'></a>
</div>

<script type='text/javascript'>
	//<![CDATA[
		function toggleRemove()
		{
			$('.removable').each(function(){
				$(this).toggleClass('remove', 'arrow');
				//$(this).attr('title', 'Remove This Employee');
			});
		}
	//]]>
</script>
