
<div class='actions-bar'>
	<a href='#link' title='Back to [Previous Location]' class='back'><span>Back</span></a>
	<a href='#link' title='Add New [Item]' class='add'></a>
	<a href='#link' title='Save [Item]' class='save'></a>
	<a href='#link' title='Enables [Item] Removal' class='remove' onclick='toggleRemove()'></a>
</div>

<script type='text/javascript'>
	//<![CDATA[
		function toggleRemove()
		{
			$('.removable').each(function(){
				$(this).toggleClass('remove', 'arrow');
				//$(this).attr('title', 'Remove This Employee');
				
				/*
				$(this).toggle(function(){
					$(this).attr('title', 'Remove This Employee');
				}, function(){
					$(this).attr('title', '');
				});
				*/
			});
		}
	//]]>
</script>
