<div class='left-column'>
	<% if (@company) %>
		<h2 class='heading company'><%= @company.name %></h2>
		<a href='#link' title='Back to [Previous Location]' class='admin-button back'><span>Back</span></a>
	<% else %>
		<h2 class='heading company'>Dashboard</h2>
	<% end %>

</div>

<div class="right-column">
	<span></span>
</div>