<div class='full-column'>
	hi
</div>

<div class='left-column'>
	<% if (@company) %>
		<h2 class='heading company'><%= @company.name %></h2>
		<a href='<%= url_for([:admin, :dashboard]) %>' title='Back to Dashboard' class='admin-button back'><span>Dashboard</span></a>
	<% else %>
		<h2 class='heading company'>Dashboard</h2>
	<% end %>
</div>

<div class="right-column">
	<span></span>
</div>