<div class='left-column'>
	<h2 class='heading company'>[Company Name]</h2>
	<a href='#link' title='Back to [Previous Location]' class='admin-button back'><span>Back</span></a>
</div>

<div class="right-column">
	<span></span>
</div>