<div class='button-bar'>
	<div id='controls'>
		<%= form.submit '', :class => 'admin-button save'%>
		<%= link_to '', url_for(:back), :class => 'admin-button cancel' %>
		<%= link_to '', '', :class => 'admin-button delete', :method => :delete %>
	</div>
</div>