<div class='button-bar'>
	<div id='controls'>
		<div class='admin-button save' onclick="save()"></div>
		<div class='admin-button cancel' onclick="cancel()"></div>
		<div class='admin-button delete' onclick="destroy()"></div>
	</div>
</div>