	
<%= link_to '', root_url, :class => 'admin-sprite logo' %>

<div class='wrapper'>
	<p class='message welcome'>Welcome to the admin panel. <a href='#link' class='float-none'>Logout (<%= current_user.email %>)</a></p>
	<a href='#link'>Enable Help</a>
</div>

<div class='solid-rule'></div>
