<div class='wrapper'>
	<h3 class='column-heading'>Your Companies</h3>
	
	<nav class='nav'>
		<ul>
			<li>
				<a href='#link' class='parent'>Company 1</a>
				<ul class='sub'>
					<li><a href='#link'>Employees</a></li>
					<li><a href='#link'>Rolls</a></li>
					<li><a href='#link'>Account Settings</a></li>
				</ul>
			</li>
			<% current_user.companies.each do |c| %>
				<li><%= link_to c.name, admin_company_url(c) %></li>
			<% end %>
			<li><%= link_to "+ add new company", new_admin_company_url, {:style => 'background:#00FF00;'} %></li>
		</ul>
	</nav>
</div>