<div class='wrapper'>
	<h3 class='column-heading'>Your Companies</h3>
	
	<nav class='nav'>
		<ul>
			<li>
				<a href='#link' class='parent'>Company 1</a>
				<ul class='sub'>
					<li><a href='#link'>Employees</a></li>
					<li><a href='#link'>Rolls</a></li>
					<li><a href='#link'>Account Settings</a></li>
				</ul>
			</li>
			<li><a href='#link'>Company 2</a></li>
			<li><a href='#link'>Company 3</a></li>
			<li><a href='#link' style='background:#00FF00;'>+ Add New Company</a></li>
		</ul>
	</nav>

	<% current_user.companies.each do |c| %>
		<%= link_to c.name, admin_company_url(c) %><br />
	<% end %>
</div>