<div class='messaging'>
	<% {:notice => 'success', :error => 'failure'}.each_pair do |key, value| %>
		<% if (flash[key]) %>
			<div class='message <%= value %>'>
				<span class='icon'></span>
				<p class='content'><%= flash[key] %></p>
				<a href="" class='close'></a>
			</div>
		<% end %>
	<% end %>
</div>
<script type="text/javascript" charset="utf-8">
	$('.message .close').click(function () {
		$(this).parent().fadeOut(250)
	})
</script>