<div class='button-bar'>
	<div id='controls'>
		<%= f.submit '', :class => 'admin-button save'%>
		<%= link_to '', admin_companies_path, :class => 'admin-button cancel', :onclick => 'cancel()' %>
	</div>
</div>