<div id='super-filter-wrapper'>
	<div class='super-filter'>
		<input class='super-field' id='super-search' value='Type Search Filter Here'></input>
		<select class='super-field' id='super-category'>
			<option>Select Category</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
		<select class='super-field' id='super-operands'>
			<option>Optional Operands</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
	</div>
	
	<div class='super-filter'>
		<input class='super-field' id='super-search' value='Type Search Filter Here'></input>
		<select class='super-field' id='super-category'>
			<option>Select Category</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
		<select class='super-field' id='super-operands'>
			<option>Optional Operands</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
	</div>
</div>