<div class='toolbar'>
	
	<div class='toolbar-btn'></div>
	
	<div class='pages-wrapper'>		
		<ul class='pages'>
			<li class='active'>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
			<li>10</li>
		</ul>
	
		<span class='total-pages'>244 pages</span>
	</div>
	
	<div class='page-views'>
		<ul>
			<li>per page:</li>
			<li class='active'>25</li>
			<li>50</li>
			<li>100</li>
		</ul>
	</div>
</div>