<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>admin</title>
	<%= stylesheet_link_tag "admin" %>
	<%= yield :head %>
</head>
<body>
	<div id="header">
	</div>
	<div id="content" class="clear">
		<div id="left">
			<%= render :partial => 'admin/shared/menu' %>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
